/* event - SHARE YOUR STORY */
.pg-event02 {
	.mfp-iframe-scaler {
		.btn-popup-close { display: block; position: absolute; top: -1px; right: 10%; margin-right: -42px; text-indent: -9999px; @include sprite($sd-btn-close01); }
		iframe { position: absolute; right: 10%; left: 10%; height: 80%; width: 80%; border: 1px solid #fff; }
	}

	/// 모바일 영역
	@include mobile {
		.mfp-iframe-scaler { overflow: show;
			.btn-popup-close { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default") - 1; margin: 0; height: 100%; width: 100%; background: none; }
			iframe { position: fixed; right: 0; left: 0; z-index: z("default"); margin-top: 56.25%; height: 30%; width: 99%; }
		}
	}

	/// 데스크탑 영역
	@include desktop {
	}


	
	/* 티져 및 이벤트 메시지 */
	.representation {
		> .title { display: none; }

		.teaser { position: relative; @include aspect-ratio(988, 556);
			iframe { display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; height: 100%; width: 100%; }
		}

		.copyright { padding: 76px 0 0 128px; height: 384px; background: url('/assets/images/desktop/bg_copyright02.jpg') center top no-repeat;
			.title { font-size: 30px; color: #fff; line-height: 42px; }
			.message { margin-top: 52px; font-size: 18px; color: #d8d7d7; line-height: 30px; }
		}

		/// 모바일 영역
		@include mobile {
			.teaser { background: url('/assets/images/mobile/bg_teaser.jpg') center top no-repeat; background-size: contain;
				.btn-play {
					&:before { margin-top: -$sm-btn-play01-height/2; margin-left: -$sm-btn-play01-width/2; @include retina_sprite($sm-btn-play01-group); }
				}
			}

			.copyright { padding: 31px 0 0 27px; height: 239px; background: url('/assets/images/mobile/bg_copyright02.jpg') center top no-repeat;
				@include retina { background-image: url('/assets/images/mobile/bg_copyright02@2x.jpg'); background-size: 320px 270px; }

				.title { font-size: 15px; line-height: 21px; }
				.message { margin-top: 36px; font-size: 11px; line-height: 17px; letter-spacing: -0.1em; }
			}
		}

		/// 데스크탑 영역
		@include desktop {
		}
	}


	/* SNS 로그인 / 댓글 입력 / 댓글 목록  */
	/* SNS 로그인 */
	.login-sns { display: block; overflow: hidden; position: relative; z-index: z("default"); width: 270px;

		.title { display: block; float: left; margin-right: 14px; font-size: 16px; color: #00aeef; line-height: 48px; vertical-align: middle; }
		.btn { display: block; float: left; margin-right: 2px; height: 48px; width: 48px; text-indent: -9999px; vertical-align: middle; background-color: #313131;
			&.fb { @include sprite($sd-btn-fb01); }
			&.tw { @include sprite($sd-btn-tw01); }
			&.ks { @include sprite($sd-btn-ks01); }
			&.insta { @include sprite($sd-btn-insta01); }

			&.selected { position: relative; background-color: #1a1a1a;
				&:before { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; border: 2px solid #00aeef; }

				&.fb { @include sprite($sd-btn-fb01-selected); }
				&.tw { @include sprite($sd-btn-tw01-selected); }
				&.ks { @include sprite($sd-btn-ks01-selected); }
				&.insta { @include sprite($sd-btn-insta01-selected); }
			}
		}

		/// 모바일 영역
		@include mobile { text-align: center;
			.title { margin-right: 8px; font-size: 11px; line-height: 37px; }
			.btn { height: 37px; width: 37px;
				&.fb { @include retina_sprite($sm-btn-fb01-group); }
				&.tw { @include retina_sprite($sm-btn-tw01-group); }
				&.ks { @include retina_sprite($sm-btn-ks01-group); }
				&.insta { @include retina_sprite($sm-btn-insta01-group); }

				&.selected {
					&.fb { @include retina_sprite($sm-btn-fb01-selected-group); }
					&.tw { @include retina_sprite($sm-btn-tw01-selected-group); }
					&.ks { @include retina_sprite($sm-btn-ks01-selected-group); }
					&.insta { @include retina_sprite($sm-btn-insta01-selected-group); }
				}
			}
		}

		/// 데스크탑 영역
		@include desktop {

		}
	}


	/* 댓글 입력 */
	.write-comment { display: block; position: relative; margin-top: -48px; padding: 0 0 0 90px;
		
		input[type=text] { display: block; box-sizing: border-box; padding-left: 10px; height: 37px; width: 483px; font-size: 12px; color: #9f9f9f; line-height: 35px; border: 1px solid #888; background-color: #1a1a1a; }
		
		.customfile-container { margin-bottom: 10px; padding-left: 180px;
			.customfile-upload { float: left; text-indent: -9999px; @include sprite($sd-btn-upload01); }
			input[type=text] { height: 48px; width: 258px; line-height: 48px; border: 0px; background-color: transparent; }
		}
		.txt-area { display: block; position: relative; margin-top: 10px; padding-right: 88px; height: 70px; border: 1px solid #888; background-color: #1a1a1a;
			.remain { display: block; position: absolute; top: 0; right: 90px; z-index: z("default"); font-size: 12px; color: #9f9f9f; line-height: 70px; }
			textarea { display: block; overflow: hidden; box-sizing: border-box; padding: 14px 0 0 10px; height: 100%; width: 100%; font-size: 12px; color: #9f9f9f; line-height: 16px; background-color: transparent; resize: none; }
			.btn-submit { display: block; position: absolute; top: -1px; right: -1px; bottom: -1px; z-index: z("default"); height: 72px; width: 88px; font-size: 15px; font-weight: bold; color: #353535; text-align: center; line-height: 70px; background-color: #ebebeb; }
		}

		/// 모바일 영역
		@include mobile { margin-top: 0; padding: 0px;

			.customfile-container { margin-top: 15px; margin-bottom: 15px; padding-left: 0px;
				.customfile-upload { @include retina_sprite($sm-btn-upload01-group); }
				input[type=text] { height: 37px; width: 263px; font-size: 10px; line-height: 37px; border: 0px; background-color: transparent; }
			}

			input[type=text] { height: 38px; width: 100%; font-size: 10px; line-height: 36px; }

			.txt-area { margin-top: 15px; padding-right: 0px; height: 166px; 
				.remain { top: auto; right: 70px; bottom: 0; font-size: 10px; line-height: 35px; }
				textarea { font-size: 10px; line-height: 14px; }
				.btn-submit { height: 168px; width: 60px; font-size: 11px; line-height: 166px; }
			}
		}

		/// 데스크탑 영역
		@include desktop {

		}
	}

	/* 추억 컨텐트 */
	.memory-item { position: relative; min-height: 417px;
		> .thumb { @include aspect-ratio(312, 173); background-color: #232323;
			.inner { overflow: hidden; text-align: center; line-height: 173px; 
				&:before { content: ''; display: block; position: absolute; top: 50%; left: 50%; margin-top: -$sd-benz-logo01-height/2; margin-left: -$sd-benz-logo01-width/2; @include sprite($sd-benz-logo01); }
				img { display: inline-block; position: relative; z-index: z("default"); max-height: 100%; max-width: 100%; vertical-align: middle; }
			}
		}

		> .info { position: relative; padding: 28px 20px 30px 20px; border-bottom: 5px solid #000; background-color: #1a1a1a;
			.title { font-size: 14px; color: #fff; }
			.memory { overflow: hidden; margin-top: 34px; min-height: 63px; max-height: 63px; font-size: 12px; color: #a9a9a9; line-height: 20px; }
			.btn-toggle { display: block; position: relative; height: 27px; text-align: center; text-indent: -9999px; border-bottom: 1px solid #5f5f5f;
				&:before { content: ''; display: block; position: absolute; top: 50%; left: 50%; margin: -4px 0 0 -6px; @include sprite($sd-icon-arrow05); }
			}
			.user { display: block; padding-top: 10px;
				.via { display: inline-block; margin-right: 7px; text-indent: -9999px; vertical-align: middle;
					&.facebook { @include sprite($sd-icon-facebook01); }
					&.twitter { @include sprite($sd-icon-twitter01); }
					&.kakaostory { @include sprite($sd-icon-kakaostory01); }
					&.instagram { @include sprite($sd-icon-instagram01); }
				}
				.nick { display: inline-block; font-size: 12px; color: #a9a9a9; }
			}

			&.open { position: absolute; top: 173px; right: 0; left: 0; z-index: z('default') + 1;
				.memory { max-height: 300px; }
				.btn-toggle {
					&:before { @include sprite($sd-icon-arrow06); }
				}
			}
		}


		/// 모바일 영역
		@include mobile { min-height: auto;
			> .thumb {
				.inner { line-height: 166px; }
			}
			> .info { padding: 20px 15px 23px 15px;
				.title { font-size: 12px; }
				.memory { margin-top: 17px; min-height: 50px; max-height: 50px; font-size: 10px; line-height: 16px; }
				.user {
					.via { margin-right: 3px;
						&.facebook { @include retina_sprite($sm-icon-facebook01-group); }
						&.twitter { @include retina_sprite($sm-icon-twitter01-group); }
						&.kakaostory { @include retina_sprite($sm-icon-kakaostory01-group); }
						&.instagram { @include retina_sprite($sm-icon-instagram01-group); }
					}
				}
				&.open { position: relative; top: 0px; }
			}
		}

		/// 데스크탑 영역
		@include desktop { min-height: 460px;
			> .thumb { @include aspect-ratio(390, 216);
				.inner { line-height: 216px; }
			}
			> .info {
				&.open { top: 216px; }
			}
		}
	}

	/* 추억 목록 */
	.list-memories { float: left; margin-top: 36px; margin-right: -70px; margin-left: -64px;
		> li { float: left; margin-right: 4px; width: 312px;
			&.lb { margin-right: 0; }
		}

		/// 모바일 영역
		@include mobile { float: none; margin-top: 7px; margin-right: 0; margin-left: 0;
			> li { float: none; margin: 0; width: 100%; }
		}

		/// 데스크탑 영역
		@include desktop {
			> li { margin-right: 5px; width: 390px;

			}			
		}
	}

	/* 더보기 */
	.btn-list-more { display: block; margin: 12px -70px 0 -64px; font-size: 12px; color: #9f9f9f; line-height: 30px; text-align: center; background-color: #1f1f1f;
		&:before { content: ''; display: inline-block; margin-top: -2px; margin-right: 5px; vertical-align: middle; @include sprite($sd-icon-arrow01); }

		/// 모바일 영역
		@include mobile { margin: 6px 0 0 0; font-size: 10px; line-height: 24px;
			&:before { @include retina_sprite($sm-icon-arrow01-group); }
		}
	}


	.sns-area { position: relative; margin-top: -177px; padding: 0 70px 0 64px;
		> .title { display: none; }

		.login-sns { margin-top: 0px; }
		.write-comment { }


		/// 모바일 영역
		@include mobile { margin-top: -104px; padding: 0 10px;
			.login-sns { margin: 0 auto; width: 217px; }
			.write-comment { }
		}

		/// 데스크탑 영역
		@include desktop {

		}
	}



	/* 이벤트 안내 */
	.event-summary { margin-top: 50px; padding-top: 24px; min-height: 249px; background: url('/assets/images/desktop/bg_summary02.png') 100% 0px no-repeat;
		.title { display: block; font-size: 18px; color: #4cc1ed; }
		.list-winner-goods { margin-top: 25px; margin-left: 63px;
			> li { position: relative; padding-left: 10px; font-size: 14px; color: #fff; line-height: 23px;
				&:before { content: ''; display: block; position: absolute; top: 8px; left: 0; height: 2px; width: 5px; background-color: #4cc1ed; }
				em { color: #4cc1ed; }
			}
		}
		.description { margin-top: 16px; margin-left: 73px; font-size: 14px; color: #797979;
			em { display: block; margin-top: 14px; font-size: 13px; }
			span { margin-left: 40px; }
		}

		/// 모바일 영역
		@include mobile { margin-top: 25px; min-height: 215px; background-image: none;
			.title { font-size: 15px; }

			.list-winner-goods { margin-top: 20px; margin-left: 0px;
				> li { font-size: 11px; line-height: 20px;
					span { margin-left: 50px; }
				}
			}

			.description { margin-top: 8px; margin-left: 0px; padding-left: 10px; font-size: 11px; line-height: 23px;
				em { margin-top: 0px; margin-left: -10px; font-size: 10px; }
				span { margin-left: 0px; }
			}
		}

		/// 데스크탑 영역
		@include desktop {
			.title { font-size: 20px; }
			.list-winner-goods { margin-top: 27px; margin-left: 70px;
				> li { font-size: 16px; line-height: 26px;
					&:before { top: 10px; }
				}
			}
			.description { margin-top: 20px; margin-left: 79px; font-size: 16px;
				em { margin-top: 18px; font-size: 15px; }
				span { margin-left: 46px; }
			}
		}
	}

	
	/* 사진 목록 */
	.photos-mfs { position: relative; overflow: hidden;
		> li { overflow: hidden; float: left; margin-right: 4px; margin-bottom: 4px;
			&.makingfilm01 { height: 350px; width: 312px; }
			&.makingfilm02 { height: 174px; width: 312px; }
			&.makingfilm03 { margin-right: 0px; height: 174px; width: 312px; }
			&.makingfilm04 { float: right; margin-right: 0px; height: 350px; width: 312px;
				p { margin-top: 8px; }
			}

			&.center01 { clear: left; height: 174px; width: 312px; }
			&.center02 { margin-top: -176px; height: 350px; width: 312px;
				p { margin-top: 8px; }
			}
			&.center03 { height: 174px; width: 628px;
				p { margin-top: 8px; }
			}
			&.center04 { margin-right: 0px; height: 174px; width: 312px;
				p { margin-top: 8px; }
			}

			figure { display: block; position: relative; height: 100%; width: 100%;
				.thumb { position: relative;
					&:before { content: ''; display: block; position: absolute; top: 0; right: 0; bottom: 0; left: 0; z-index: z("default"); background-color: #000; opacity: 0.5; }
					img { height: 100%; width: 100%; }
				}
				figcaption { display: block; position: absolute; right: 0; bottom: 11px; left: 23px; z-index: z("default") + 1; width: 100%;
					.title { display: block; font-size: 16px; color: #4cc1ed;
						// &.link { font-size: 18px; color: #fff;
						// 	&:after { content: ''; display: inline-block; margin-left: 30px; vertical-align: middle; @include sprite($sd-icon-arrow03); }
						// }
					}
					p { margin-top: 18px; font-size: 13px; color: #dfdfdf; line-height: 18px; }
				}
			}


			&:hover {
				.thumb {
					&:before { opacity: 0; transition: opacity .3s ease-in-out; }
				}
			}
		}

		/// 모바일 영역
		@include mobile { padding: 0 10px;
			> li { float: none; margin: 0 0 3px 0;
				&.makingfilm01 { height: auto; width: 100%; }
				&.makingfilm02 { height: auto; width: 100%; }
				&.makingfilm03 { height: auto; width: 100%; }
				&.makingfilm04 { height: auto; width: 100%;
					p { margin-top: 9px; }
				}

				&.center01 { height: auto; width: 100%; }
				&.center02 { margin-top: 0; height: auto; width: 100%;
					p { margin-top: 9px; }
				}
				&.center03 { height: auto; width: 100%;
					p { margin-top: 9px; }
				}
				&.center04 { height: auto; width: 100%; }

				figure {
					img { height: auto; width: 100%; }
					figcaption { bottom: 10px; left: 23px;
						.title { font-size: 17px;
							// &.link { font-size: 17px;
							// 	&:after { margin-top: -2px; margin-left: 23px; @include retina_sprite($sm-icon-arrow03-group); }
							// }
						}
						p { margin-top: 14px; font-size: 12px; line-height: 17px; }
					}
				}
			}
		}

		/// 데스크탑 영역
		@include desktop {
			> li { margin-right: 5px; margin-bottom: 5px;
				&.makingfilm01 { height: 437px; width: 390px; }
				&.makingfilm02 { height: 216px; width: 390px; }
				&.makingfilm03 { height: 216px; width: 390px; }
				&.makingfilm04 { height: 437px; width: 390px; }

				&.center01 { height: 216px; width: 390px; }
				&.center02 { margin-top: -220px; height: 437px; width: 390px;
					p { margin-top: 10px; }
				}
				&.center03 { height: 216px; width: 785px;
					p { margin-top: 10px; }
				}
				&.center04 { height: 216px; width: 390px; }

				figure {
					figcaption { bottom: 17px; left: 28px;
						.title { font-size: 18px;
							&.link { font-size: 20px; }
						}
						p { margin-top: 18px; font-size: 15px; line-height: 22px; }
					}
				}
			}
		}
	}

	/* 메이킹 필름 & 서비스 센터 */
	.making-service {
		> .title { display: none; }

	}
}

/* 이벤트 응모 팝업 */
.popup-application { display: block; position: relative; margin: 0 auto; padding: 0 30px 30px 30px; width: 740px; color: #666; background-color: #fff;
	> .btn-popup-close { display: block; position: absolute; top: 15px; right: 15px; text-indent: -9999px; @include sprite($sd-btn-close01); }

	> .title { margin: 0 -30px; padding: 0 30px; font-size: 20px; color: #333; line-height: 74px; background: url('/assets/images/desktop/bg_popup01.jpg') left top no-repeat; }
	.btns { margin-top: 30px; text-align: center;
		a { display: inline-block; margin: 0 3px; height: 48px; width: 108px; font-size: 16px; font-weight: bold; line-height: 48px; text-align: center;
			&.btn-done { background-color: #00aeef; }
			&.btn-cancel { background-color: #9c9c9c; }
		}
	}

	.box { overflow: hidden; padding-top: 30px; width: 100%;
		> .title { display: block; font-size: 16px; font-weight: bold; color: #333;
			strong { color: #1d9fd0; }
		}

		table { margin-top: 15px; width: 100%;
			th { width: 56px; font-size: 14px; font-weight: bold; color: #666; text-align: left; }
			td { padding-left: 22px; font-size: 14px; color: #000; line-height: 34px; border-bottom: 2px solid #fff; background-color: #e7e7e7; }
		}
		
		.check { margin-top: 18px; padding-top: 8px; border-top: 1px solid #c3c3c3; }
		.radios { margin-top: 12px; text-align: right;
			input[type=radio] { position: absolute; left: -9999px;
				+ label { display: inline-block; margin-left: 33px; font-size: 16px; color: #000;
					&:before { content: ''; display: inline-block; margin: -3px 7px 0 0; vertical-align: middle; @include sprite($sd-radio01); }
				}

				&:checked {
					+ label:before { @include sprite($sd-radio01-selected); }
				}
			}
		}

		&.basic-info { padding-top: 15px; padding-bottom: 30px; border-bottom: 1px solid #c3c3c3;
			p { display: inline-block; margin-top: 15px; margin-right: 26px; font-size: 14px; color: #666; line-height: 32px; }
			label { display: inline-block; width: 56px; font-size: 14px; font-weight: bold; color: #666; line-height: 32px; }
			input[type=text],
			input[type=tel] { height: 32px; width: 172px; font-size: 14px; color: #666; line-height: 32px; text-align: center; border: 1px solid #888; }
			input[type=tel] { width: 72px; }
		}

		&.agreement {
			.warning { font-size: 14px; font-weight: bold; color: #666; }
		}


		&.service-center {
			th { padding-top: 8px; vertical-align: top; }
			td { background-color: #fff; }
			select { display: block; appearance: none; padding-right: 20px; padding-left: 20px; height: 32px; font-size: 14px; color: #000; line-height: 32px; border: 1px solid #888; background-color: #fff; }
			.list-center { overflow: auto; box-sizing: border-box; height: 98px; width: 100%; border: 1px solid #888;
				> li { display: block; padding-left: 20px; height: 32px; font-size: 14px; color: #000; line-height: 32px; border-top: 1px solid #e7e7e7;
					a { color: #000;
						&:hover,
						&.selected { color: #00aeef; }
					}
				}
			}

			.service { padding-top: 14px; padding-bottom: 12px; text-align: right; border-bottom: 1px solid #c3c3c3;
				.value { font-size: 16px; font-weight: bold; color: #00aeef; }
				.btn-reset { display: inline-block; margin-left: 6px; padding-right: 15px; padding-left: 15px; font-size: 14px; font-weight: normal; color: #fff; line-height: 28px; background-color: #9c9c9c;
					&:before { content: ''; display: inline-block; margin: -2px 3px 0 0; vertical-align: middle; @include sprite($sd-icon-reset01); }
				}
			}
		}
	}

	.guide-message { margin: 25px -30px -30px -30px; padding: 25px 0 20px 78px; background-color: #e7e7e7;
		li { position: relative; padding-left: 10px; font-size: 14px; color: #000; line-height: 20px;
			&:before { content: '-'; display: block; position: absolute; top: 0; left: 0; }
			&.link { &:before { color: #00aeef; } }
			a { color: #00aeef; }
		}
	}

	/// 모바일 영역
	@include mobile { padding: 0 22px 22px 22px; width: auto;
		> .btn-popup-close { top: 10px; right: 10px; @include retina_sprite($sm-btn-close01-group); }

		> .title { margin: 0 -22px; padding: 14px 22px  0 22px; height: 43px; font-size: 12px; line-height: 16px; background: url('/assets/images/mobile/bg_popup01.jpg') left top no-repeat;
			@include retina { background-image: url('/assets/images/mobile/bg_popup01@2x.jpg'); background-size: 320px 57px; }
		}

		.btns { margin-top: 23px;
			a { display: inline-block; margin: 0 3px; height: 37px; width: 83px; font-size: 12px; line-height: 37px; }
		}

		.box { padding-top: 15px;
			> .title { margin-bottom: 10px; font-size: 11px; }

			table { margin-top: 10px; 
				th { width: 43px; font-size: 11px; }
				td { padding: 5px 10px 3px 17px; font-size: 11px; line-height: 18px; border-bottom: 1px solid #fff; }
			}

			.check { margin-top: 14px; padding-top: 5px; }
			.radios { margin-top: 6px;
				input[type=radio] {
					+ label { margin-left: 25px; font-size: 12px;
						&:before { content: ''; display: inline-block; margin: -3px 7px 0 0; vertical-align: middle; @include retina_sprite($sm-radio01-group); }
					}

					&:checked {
						+ label:before { @include retina_sprite($sm-radio01-selected-group); }
					}
				}
			}

			&.basic-info { padding-top: 7px; padding-bottom: 15px;
				p { display: block; margin-top: 7px; margin-right: 0px; font-size: 10px; line-height: 26px; }
				label { width: 43px; font-size: 10px; line-height: 26px; }
				input[type=text],
				input[type=tel] { width: 132px; font-size: 10px; line-height: 26px; }
				input[type=tel] { width: 55px; }
			}

			&.agreement {
				.warning { font-size: 11px; line-height: 16px; }
			}

			&.service-center {
				th { padding-top: 8px; vertical-align: top; }
				td { background-color: #fff; }
				select { display: block; padding-right: 16px; padding-left: 16px; height: 25px; font-size: 11px; line-height: 25px; }
				.list-center { height: 79px;
					> li { padding-left: 16px; height: 25px; font-size: 11px; line-height: 25px; }
				}

				.service { padding-top: 10px; padding-bottom: 10px;
					.value { font-size: 11px; }
					.btn-reset { padding-right: 7px; padding-left: 7px; font-size: 11px; line-height: 24px;
						&:before { margin: -2px 3px 0 0; @include retina_sprite($sm-icon-reset01-group); }
					}
				}
			}
		}

		.guide-message { margin: 25px -22px -22px -22px; padding: 25px 24px 24px 24px;
			li { padding-left: 10px; font-size: 11px; line-height: 15px;
				a { color: #00aeef; }
			}
		}

	}

	/// 데스크탑 영역
	@include desktop {

	}
}


/* 컨텐츠 팝업 */
.pg-popup { margin: 0 auto; width: 800px;
	article.contents { display: block; position: relative; padding: 0; width: auto; padding: 84px 0px 0 0px; width: 800px; color: #333; background: #fff url('/assets/images/popup/bg_popup_top.jpg') left top no-repeat;;
		> .btn-popup-close { display: block; position: absolute; top: 15px; right: 15px; text-indent: -9999px; @include sprite($sd-btn-close01); }
		> .title { padding-left: 80px; font-size: 26px; color: #00aeef; line-height: 1.3em; }
	}

	.module { padding: 0 80px;
		> .title { display: block; position: relative; margin-top: 60px; font-size: 20px; font-weight: bold; color: #333; line-height: 1.3em;
			&:before { content: ''; position: absolute; top: -9px; left: 0; display: block; height: 3px; width: 33px; background-color: #00aef0; }
		}
		p { margin-top: 25px; font-size: 16px; color: #333; line-height: 24px; word-break: keep-all; }

	}

	.section { margin: 0 -80px;
		> .title { display: block; position: relative; margin: 40px 80px 0 80px; font-size: 18px; font-weight: bold; color: #00aeef;
			&:before { content: ''; display: block; position: absolute; top: 48%; right: 0px; left: 0px; height: 1px; width: auto; background-color: #00aeef; }
			> span { display: inline-block; position: relative; z-index: 1; padding-right: 10px; background-color: #fff; }
		}
		p { padding-right: 80px; padding-left: 80px; word-break: keep-all; }
	}

	/// 모바일 영역
	@include mobile { width: auto; background-color: #fff;

		article.contents { padding: 42px 0px 0 0px; width: 100%; color: #333; background: #fff url('/assets/images/popup/bg_popup_top.jpg') left top no-repeat; background-size: 400px 37px;
			> .btn-popup-close { top: 10px; right: 10px; @include retina_sprite($sm-btn-close01-group); }
			> .title { padding-left: 0px; font-size: 16px; }
		}
	
		.module { padding: 0px;
			> .title { margin-top: 30px; font-size: 13px;
				&:before { top: -4px; height: 1px; width: 17px; }
			}
			p { margin-top: 10px; font-size: 10px; line-height: 13px; }
		}


		.section { margin: 0; padding: 0; 
			> .title { margin: 20px 0 0 0; font-size: 12px;
				> span { padding-right: 5px; }
			}
			p { padding-right: 0; padding-left: 0; }
		}

	}

	/// 데스크탑 영역
	@include desktop {

	}
}




/* 컨텐츠 팝업 - 벤츠 서비스 */
.pg-popup.mb-service { 

	.module.teaser { padding-top: 83px; background: url('/assets/images/popup/service01@2x.jpg') center top no-repeat;
		> .title { margin-top: 0px; }
		.inc-bg { padding-top: 15px; padding-right: 200px; padding-bottom: 15px; }
		.bg01 { margin: 24px -80px 0 -80px; @include aspect-ratio(4,1); background: url('/assets/images/popup/service02@2x.jpg') center top no-repeat; }
	}

	/* 스타 진단기 */
	.eq-bg01 { height: 320px; background: url('/assets/images/popup/service03@2x.jpg') center top no-repeat;
		p { padding-left: 352px; }
	}

	/* 고속 진동 발란서 */
	.eq-bg02 { height: 330px; background: url('/assets/images/popup/service04@2x.jpg') center top no-repeat;
		p { padding-right: 310px;
			&:first-child { padding-top: 30px; }
		}
	}

	/* 소몰리페어 작업 */
	.eq-bg03 { height: 400px; background: url('/assets/images/popup/service05@2x.jpg') center top no-repeat;
		p { padding-left: 352px; }
	}

	/* 셀렉트 벤치 지그 모듈 */
	.eq-bg04 { height: 280px; background: url('/assets/images/popup/service06@2x.jpg') center top no-repeat;
		p { padding-right: 310px; }
	}

	/* 도장 부스 설비 – 건식 샌딩룸 */
	.eq-bg05 { margin-top: 20px; @include aspect-ratio(400,121); background: url('/assets/images/popup/service07@2x.jpg') center top no-repeat; }
	.eq-bg06 { @include aspect-ratio(400,130); background: url('/assets/images/popup/service08@2x.jpg') center top no-repeat; }

	/// 모바일 영역
	@include mobile {
		.module.teaser { padding-top: 38px; background: url('/assets/images/popup/service01.jpg') center 10px no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/service01@2x.jpg'); background-size: 400px 140px;
			}
			.inc-bg { padding-top: 7px; padding-right: 90px; padding-bottom: 7px; }

			.bg01 { margin: 12px 0 0 0; @include aspect-ratio(3.2,1); background: url('/assets/images/popup/service02.jpg') center top no-repeat;
				@include retina {
					background-image: url('/assets/images/popup/service02@2x.jpg'); background-size: 400px 100px;
				}
			}
		}

		/* 스타 진단기 */
		.eq-bg01 { height: 160px; background: url('/assets/images/popup/service03.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/service03@2x.jpg'); background-size: 400px 160px;
			}
			p { padding-left: 135px; }
		}

		/* 고속 진동 발란서 */
		.eq-bg02 { height: 165px; background: url('/assets/images/popup/service04.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/service04@2x.jpg'); background-size: 400px 165px;
			}
			p { padding-right: 115px;
				&:first-child { padding-top: 15px; }
			}
		}

		/* 소몰리페어 작업 */
		.eq-bg03 { height: 200px; background: url('/assets/images/popup/service05.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/service05@2x.jpg'); background-size: 400px 200px;
			}
			p { padding-left: 135px; }
		}

		/* 셀렉트 벤치 지그 모듈 */
		.eq-bg04 { height: 140px; background: url('/assets/images/popup/service06.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/service06@2x.jpg'); background-size: 400px 140px;
			}
			p { padding-right: 115px; }
		}

		/* 도장 부스 설비 – 건식 샌딩룸 */
		.eq-bg05 { margin-top: 10px; background: url('/assets/images/popup/service07.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/service07@2x.jpg'); background-size: 400px 121px;
			}
		}
		.eq-bg06 { background: url('/assets/images/popup/service08.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/service08@2x.jpg'); background-size: 400px 130px;
			}
		}

	}

	/// 데스크탑 영역
	@include desktop {

	}

}


/* 컨텐츠 팝업 - 테크마스터 */
.pg-popup.mb-master { 

	.techmasters {
	}

	/* master 소개 01 */
	.master-bg01 { padding-top: 100px; padding-left: 352px; height: 282px; background: url('/assets/images/popup/master01@2x.jpg') center top no-repeat;
		p {
			&:first-child { margin-top: 0; }
		}
	}


	/* master 소개 02 */
	.master-bg02 { margin-top: 22px; @include aspect-ratio(400,265); background: url('/assets/images/popup/master02@2x.jpg') center top no-repeat; }


	/* master 소개 03 */
	.master-bg03 { margin-top: 22px; @include aspect-ratio(400,183); background: url('/assets/images/popup/master03@2x.jpg') center top no-repeat; }


	/* master 소개 04 */
	.master-bg04 { margin-top: 38px; height: 370px; background: url('/assets/images/popup/master04@2x.jpg') center top no-repeat;
		p {
			&:first-child { margin-top: 0; }
		}
	}
	

	/// 모바일 영역
	@include mobile {
		/* master 소개 */
		.master-bg01 { padding-top: 50px; padding-left: 135px; height: 141px; background: url('/assets/images/popup/master01.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/master01@2x.jpg'); background-size: 400px 191px;
			}
			p {
				&:first-child { margin-top: 0; }
			}
		}

		/* master 소개 02 */
		.master-bg02 { margin-top: 11px; background: url('/assets/images/popup/master02.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/master02@2x.jpg'); background-size: 400px 265px;
			}
		}

		/* master 소개 03 */
		.master-bg03 { margin-top: 11px; background: url('/assets/images/popup/master03.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/master03@2x.jpg'); background-size: 400px 183px;
			}
		}

		/* master 소개 04 */
		.master-bg04 { margin-top: 19px; height: 185px; background: url('/assets/images/popup/master04.jpg') 0px 20px no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/master04@2x.jpg'); background-size: 400px 185px;
			}
		}

	}

	/// 데스크탑 영역
	@include desktop {

	}
}


/* 컨텐츠 팝업 - 마이서비스 */
.pg-popup.mb-myservice { 

	/* my service 소개 */
	.module.myservice { position: relative; padding-top: 40px; height: 450px; background: url('/assets/images/popup/myservice01@2x.jpg') center top no-repeat;
		.download { display: none; }
	}

	.icon01 { padding-left: 160px; background: url('/assets/images/popup/icon_myservice01@2x.jpg') left top no-repeat; }
	.icon02 { padding-left: 160px; background: url('/assets/images/popup/icon_myservice02@2x.jpg') left top no-repeat; }
	.icon03 { padding-left: 160px; background: url('/assets/images/popup/icon_myservice03@2x.jpg') left top no-repeat; }
	.icon04 { padding-left: 160px; background: url('/assets/images/popup/icon_myservice04@2x.jpg') left top no-repeat; }

	/* 순정르만부품 */
	.module.reman { padding-top: 50px; padding-left: 350px; height: 364px; background: url('/assets/images/popup/myservice02@2x.jpg') center top no-repeat; }
	.module.reman-detail { padding-top: 20px; padding-bottom: 60px;
		> .title { margin-top: 20px; }
	}
	.section {
		p:first-child { margin-top: 0; }
	}
	.section.reman-bg01 { padding-top: 22px; padding-right: 160px; height: 178px; background: url('/assets/images/popup/myservice03@2x.jpg') center top no-repeat; }
	.section.reman-bg02 { padding-top: 22px; padding-left: 160px; height: 158px; background: url('/assets/images/popup/myservice04@2x.jpg') center top no-repeat; }
	.section.reman-bg03 { padding-top: 22px; padding-right: 160px; height: 118px; background: url('/assets/images/popup/myservice05@2x.jpg') center top no-repeat; }
	.section.reman-bg04 { padding-top: 22px; padding-left: 160px; height: 118px; background: url('/assets/images/popup/myservice06@2x.jpg') center top no-repeat; }


	/// 모바일 영역
	@include mobile {
		/* my service 소개 */
		.module.myservice { padding-top: 20px; height: 244px; background: url('/assets/images/popup/myservice01.jpg') center top no-repeat;
			.download { display: block; position: absolute; bottom: 0; left: 0px; 
				.title { font-size: 10px; font-weight: bold; color: #00aeef;
					&:before { content: ''; display: inline-block; margin: -2px 3px 0 0; vertical-align: middle; @include retina_sprite($sm-icon-arrow04-group); }
				}
				.btn-download { display: inline-block; text-indent: -9999px;
					&.android { margin-left: 10px; @include retina_sprite($sm-btn-down01-group); }
					&.ios { @include retina_sprite($sm-btn-down02-group); }
				}
			}
		}

		/* my service icons */
		.icon01 { padding-left: 80px; background: url('/assets/images/popup/icon_myservice01.jpg') left top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/icon_myservice01@2x.jpg'); background-size: 80px 70px;
			}
		}
		.icon02 { padding-left: 80px; background: url('/assets/images/popup/icon_myservice02.jpg') left top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/icon_myservice02@2x.jpg'); background-size: 80px 70px;
			}
		}
		.icon03 { padding-left: 80px; background: url('/assets/images/popup/icon_myservice03.jpg') left top no-repeat; }
		.icon04 { padding-left: 80px; background: url('/assets/images/popup/icon_myservice04.jpg') left top no-repeat; }


		/* 순정르만부품 */
		.module.reman { padding-top: 25px; padding-left: 135px; height: 217px; background: url('/assets/images/popup/myservice02.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/myservice02@2x.jpg'); background-size: 400px 207px;
			}
		}
		.module.reman-detail { padding-top: 10px; padding-bottom: 30px;
			> .title { margin-top: 10px; }
		}
		.section.reman-bg01 { padding-top: 11px; padding-right: 80px; height: 89px; background: url('/assets/images/popup/myservice03.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/myservice03@2x.jpg'); background-size: 400px 100px;
			}
		}
		.section.reman-bg02 { padding-top: 11px; padding-left: 80px; height: 69px; background: url('/assets/images/popup/myservice04.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/myservice04@2x.jpg'); background-size: 400px 80px;
			}
		}
		.section.reman-bg03 { padding-top: 11px; padding-right: 80px; height: 69px; background: url('/assets/images/popup/myservice05.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/myservice05@2x.jpg'); background-size: 400px 70px;
			}
		}
		.section.reman-bg04 { padding-top: 11px; padding-left: 80px; height: 69px; background: url('/assets/images/popup/myservice06.jpg') center top no-repeat;
			@include retina {
				background-image: url('/assets/images/popup/myservice06@2x.jpg'); background-size: 400px 70px;
			}
		}

	}

	/// 데스크탑 영역
	@include desktop {

	}
}


/// 모바일 영역
@include mobile {

}

/// 데스크탑 영역
@include desktop {

}
