/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-benz-logo01-name: 'sm-benz_logo01';
$sm-benz-logo01-x: 0px;
$sm-benz-logo01-y: 51px;
$sm-benz-logo01-offset-x: 0px;
$sm-benz-logo01-offset-y: -51px;
$sm-benz-logo01-width: 54px;
$sm-benz-logo01-height: 54px;
$sm-benz-logo01-total-width: 248px;
$sm-benz-logo01-total-height: 217px;
$sm-benz-logo01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-benz-logo01: (0px, 51px, 0px, -51px, 54px, 54px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-benz_logo01', );
$sm-benz-logo-header-name: 'sm-benz_logo_header';
$sm-benz-logo-header-x: 0px;
$sm-benz-logo-header-y: 0px;
$sm-benz-logo-header-offset-x: 0px;
$sm-benz-logo-header-offset-y: 0px;
$sm-benz-logo-header-width: 150px;
$sm-benz-logo-header-height: 45px;
$sm-benz-logo-header-total-width: 248px;
$sm-benz-logo-header-total-height: 217px;
$sm-benz-logo-header-image: '/assets/images/mobile/sprites_mobile.png';
$sm-benz-logo-header: (0px, 0px, 0px, 0px, 150px, 45px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-benz_logo_header', );
$sm-btn-close01-name: 'sm-btn_close01';
$sm-btn-close01-x: 211px;
$sm-btn-close01-y: 80px;
$sm-btn-close01-offset-x: -211px;
$sm-btn-close01-offset-y: -80px;
$sm-btn-close01-width: 31px;
$sm-btn-close01-height: 31px;
$sm-btn-close01-total-width: 248px;
$sm-btn-close01-total-height: 217px;
$sm-btn-close01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-close01: (211px, 80px, -211px, -80px, 31px, 31px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_close01', );
$sm-btn-down01-name: 'sm-btn_down01';
$sm-btn-down01-x: 60px;
$sm-btn-down01-y: 51px;
$sm-btn-down01-offset-x: -60px;
$sm-btn-down01-offset-y: -51px;
$sm-btn-down01-width: 49px;
$sm-btn-down01-height: 49px;
$sm-btn-down01-total-width: 248px;
$sm-btn-down01-total-height: 217px;
$sm-btn-down01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-down01: (60px, 51px, -60px, -51px, 49px, 49px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_down01', );
$sm-btn-down02-name: 'sm-btn_down02';
$sm-btn-down02-x: 156px;
$sm-btn-down02-y: 0px;
$sm-btn-down02-offset-x: -156px;
$sm-btn-down02-offset-y: 0px;
$sm-btn-down02-width: 49px;
$sm-btn-down02-height: 49px;
$sm-btn-down02-total-width: 248px;
$sm-btn-down02-total-height: 217px;
$sm-btn-down02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-down02: (156px, 0px, -156px, 0px, 49px, 49px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_down02', );
$sm-btn-fb01-name: 'sm-btn_fb01';
$sm-btn-fb01-x: 0px;
$sm-btn-fb01-y: 111px;
$sm-btn-fb01-offset-x: 0px;
$sm-btn-fb01-offset-y: -111px;
$sm-btn-fb01-width: 37px;
$sm-btn-fb01-height: 37px;
$sm-btn-fb01-total-width: 248px;
$sm-btn-fb01-total-height: 217px;
$sm-btn-fb01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-fb01: (0px, 111px, 0px, -111px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_fb01', );
$sm-btn-fb01-selected-name: 'sm-btn_fb01_selected';
$sm-btn-fb01-selected-x: 43px;
$sm-btn-fb01-selected-y: 111px;
$sm-btn-fb01-selected-offset-x: -43px;
$sm-btn-fb01-selected-offset-y: -111px;
$sm-btn-fb01-selected-width: 37px;
$sm-btn-fb01-selected-height: 37px;
$sm-btn-fb01-selected-total-width: 248px;
$sm-btn-fb01-selected-total-height: 217px;
$sm-btn-fb01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-fb01-selected: (43px, 111px, -43px, -111px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_fb01_selected', );
$sm-btn-insta01-name: 'sm-btn_insta01';
$sm-btn-insta01-x: 86px;
$sm-btn-insta01-y: 111px;
$sm-btn-insta01-offset-x: -86px;
$sm-btn-insta01-offset-y: -111px;
$sm-btn-insta01-width: 37px;
$sm-btn-insta01-height: 37px;
$sm-btn-insta01-total-width: 248px;
$sm-btn-insta01-total-height: 217px;
$sm-btn-insta01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-insta01: (86px, 111px, -86px, -111px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_insta01', );
$sm-btn-insta01-selected-name: 'sm-btn_insta01_selected';
$sm-btn-insta01-selected-x: 129px;
$sm-btn-insta01-selected-y: 111px;
$sm-btn-insta01-selected-offset-x: -129px;
$sm-btn-insta01-selected-offset-y: -111px;
$sm-btn-insta01-selected-width: 37px;
$sm-btn-insta01-selected-height: 37px;
$sm-btn-insta01-selected-total-width: 248px;
$sm-btn-insta01-selected-total-height: 217px;
$sm-btn-insta01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-insta01-selected: (129px, 111px, -129px, -111px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_insta01_selected', );
$sm-btn-ks01-name: 'sm-btn_ks01';
$sm-btn-ks01-x: 0px;
$sm-btn-ks01-y: 154px;
$sm-btn-ks01-offset-x: 0px;
$sm-btn-ks01-offset-y: -154px;
$sm-btn-ks01-width: 37px;
$sm-btn-ks01-height: 37px;
$sm-btn-ks01-total-width: 248px;
$sm-btn-ks01-total-height: 217px;
$sm-btn-ks01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-ks01: (0px, 154px, 0px, -154px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_ks01', );
$sm-btn-ks01-selected-name: 'sm-btn_ks01_selected';
$sm-btn-ks01-selected-x: 43px;
$sm-btn-ks01-selected-y: 154px;
$sm-btn-ks01-selected-offset-x: -43px;
$sm-btn-ks01-selected-offset-y: -154px;
$sm-btn-ks01-selected-width: 37px;
$sm-btn-ks01-selected-height: 37px;
$sm-btn-ks01-selected-total-width: 248px;
$sm-btn-ks01-selected-total-height: 217px;
$sm-btn-ks01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-ks01-selected: (43px, 154px, -43px, -154px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_ks01_selected', );
$sm-btn-play01-name: 'sm-btn_play01';
$sm-btn-play01-x: 156px;
$sm-btn-play01-y: 55px;
$sm-btn-play01-offset-x: -156px;
$sm-btn-play01-offset-y: -55px;
$sm-btn-play01-width: 46px;
$sm-btn-play01-height: 46px;
$sm-btn-play01-total-width: 248px;
$sm-btn-play01-total-height: 217px;
$sm-btn-play01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-play01: (156px, 55px, -156px, -55px, 46px, 46px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_play01', );
$sm-btn-top01-name: 'sm-btn_top01';
$sm-btn-top01-x: 27px;
$sm-btn-top01-y: 197px;
$sm-btn-top01-offset-x: -27px;
$sm-btn-top01-offset-y: -197px;
$sm-btn-top01-width: 14px;
$sm-btn-top01-height: 14px;
$sm-btn-top01-total-width: 248px;
$sm-btn-top01-total-height: 217px;
$sm-btn-top01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-top01: (27px, 197px, -27px, -197px, 14px, 14px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_top01', );
$sm-btn-tw01-name: 'sm-btn_tw01';
$sm-btn-tw01-x: 211px;
$sm-btn-tw01-y: 0px;
$sm-btn-tw01-offset-x: -211px;
$sm-btn-tw01-offset-y: 0px;
$sm-btn-tw01-width: 37px;
$sm-btn-tw01-height: 37px;
$sm-btn-tw01-total-width: 248px;
$sm-btn-tw01-total-height: 217px;
$sm-btn-tw01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-tw01: (211px, 0px, -211px, 0px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_tw01', );
$sm-btn-tw01-selected-name: 'sm-btn_tw01_selected';
$sm-btn-tw01-selected-x: 86px;
$sm-btn-tw01-selected-y: 154px;
$sm-btn-tw01-selected-offset-x: -86px;
$sm-btn-tw01-selected-offset-y: -154px;
$sm-btn-tw01-selected-width: 37px;
$sm-btn-tw01-selected-height: 37px;
$sm-btn-tw01-selected-total-width: 248px;
$sm-btn-tw01-selected-total-height: 217px;
$sm-btn-tw01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-tw01-selected: (86px, 154px, -86px, -154px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_tw01_selected', );
$sm-btn-upload01-name: 'sm-btn_upload01';
$sm-btn-upload01-x: 129px;
$sm-btn-upload01-y: 154px;
$sm-btn-upload01-offset-x: -129px;
$sm-btn-upload01-offset-y: -154px;
$sm-btn-upload01-width: 37px;
$sm-btn-upload01-height: 37px;
$sm-btn-upload01-total-width: 248px;
$sm-btn-upload01-total-height: 217px;
$sm-btn-upload01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-upload01: (129px, 154px, -129px, -154px, 37px, 37px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_upload01', );
$sm-icon-arrow01-name: 'sm-icon_arrow01';
$sm-icon-arrow01-x: 172px;
$sm-icon-arrow01-y: 137px;
$sm-icon-arrow01-offset-x: -172px;
$sm-icon-arrow01-offset-y: -137px;
$sm-icon-arrow01-width: 10px;
$sm-icon-arrow01-height: 6px;
$sm-icon-arrow01-total-width: 248px;
$sm-icon-arrow01-total-height: 217px;
$sm-icon-arrow01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-arrow01: (172px, 137px, -172px, -137px, 10px, 6px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_arrow01', );
$sm-icon-arrow02-name: 'sm-icon_arrow02';
$sm-icon-arrow02-x: 229px;
$sm-icon-arrow02-y: 180px;
$sm-icon-arrow02-offset-x: -229px;
$sm-icon-arrow02-offset-y: -180px;
$sm-icon-arrow02-width: 14px;
$sm-icon-arrow02-height: 7px;
$sm-icon-arrow02-total-width: 248px;
$sm-icon-arrow02-total-height: 217px;
$sm-icon-arrow02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-arrow02: (229px, 180px, -229px, -180px, 14px, 7px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_arrow02', );
$sm-icon-arrow03-name: 'sm-icon_arrow03';
$sm-icon-arrow03-x: 211px;
$sm-icon-arrow03-y: 117px;
$sm-icon-arrow03-offset-x: -211px;
$sm-icon-arrow03-offset-y: -117px;
$sm-icon-arrow03-width: 30px;
$sm-icon-arrow03-height: 30px;
$sm-icon-arrow03-total-width: 248px;
$sm-icon-arrow03-total-height: 217px;
$sm-icon-arrow03-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-arrow03: (211px, 117px, -211px, -117px, 30px, 30px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_arrow03', );
$sm-icon-arrow04-name: 'sm-icon_arrow04';
$sm-icon-arrow04-x: 211px;
$sm-icon-arrow04-y: 180px;
$sm-icon-arrow04-offset-x: -211px;
$sm-icon-arrow04-offset-y: -180px;
$sm-icon-arrow04-width: 12px;
$sm-icon-arrow04-height: 11px;
$sm-icon-arrow04-total-width: 248px;
$sm-icon-arrow04-total-height: 217px;
$sm-icon-arrow04-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-arrow04: (211px, 180px, -211px, -180px, 12px, 11px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_arrow04', );
$sm-icon-facebook01-name: 'sm-icon_facebook01';
$sm-icon-facebook01-x: 172px;
$sm-icon-facebook01-y: 111px;
$sm-icon-facebook01-offset-x: -172px;
$sm-icon-facebook01-offset-y: -111px;
$sm-icon-facebook01-width: 21px;
$sm-icon-facebook01-height: 20px;
$sm-icon-facebook01-total-width: 248px;
$sm-icon-facebook01-total-height: 217px;
$sm-icon-facebook01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-facebook01: (172px, 111px, -172px, -111px, 21px, 20px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_facebook01', );
$sm-icon-instagram01-name: 'sm-icon_instagram01';
$sm-icon-instagram01-x: 172px;
$sm-icon-instagram01-y: 154px;
$sm-icon-instagram01-offset-x: -172px;
$sm-icon-instagram01-offset-y: -154px;
$sm-icon-instagram01-width: 21px;
$sm-icon-instagram01-height: 20px;
$sm-icon-instagram01-total-width: 248px;
$sm-icon-instagram01-total-height: 217px;
$sm-icon-instagram01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-instagram01: (172px, 154px, -172px, -154px, 21px, 20px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_instagram01', );
$sm-icon-kakaostory01-name: 'sm-icon_kakaostory01';
$sm-icon-kakaostory01-x: 0px;
$sm-icon-kakaostory01-y: 197px;
$sm-icon-kakaostory01-offset-x: 0px;
$sm-icon-kakaostory01-offset-y: -197px;
$sm-icon-kakaostory01-width: 21px;
$sm-icon-kakaostory01-height: 20px;
$sm-icon-kakaostory01-total-width: 248px;
$sm-icon-kakaostory01-total-height: 217px;
$sm-icon-kakaostory01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-kakaostory01: (0px, 197px, 0px, -197px, 21px, 20px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_kakaostory01', );
$sm-icon-mbenz-name: 'sm-icon_mbenz';
$sm-icon-mbenz-x: 211px;
$sm-icon-mbenz-y: 43px;
$sm-icon-mbenz-offset-x: -211px;
$sm-icon-mbenz-offset-y: -43px;
$sm-icon-mbenz-width: 31px;
$sm-icon-mbenz-height: 31px;
$sm-icon-mbenz-total-width: 248px;
$sm-icon-mbenz-total-height: 217px;
$sm-icon-mbenz-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-mbenz: (211px, 43px, -211px, -43px, 31px, 31px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_mbenz', );
$sm-icon-reset01-name: 'sm-icon_reset01';
$sm-icon-reset01-x: 239px;
$sm-icon-reset01-y: 153px;
$sm-icon-reset01-offset-x: -239px;
$sm-icon-reset01-offset-y: -153px;
$sm-icon-reset01-width: 8px;
$sm-icon-reset01-height: 7px;
$sm-icon-reset01-total-width: 248px;
$sm-icon-reset01-total-height: 217px;
$sm-icon-reset01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-reset01: (239px, 153px, -239px, -153px, 8px, 7px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_reset01', );
$sm-icon-twitter01-name: 'sm-icon_twitter01';
$sm-icon-twitter01-x: 115px;
$sm-icon-twitter01-y: 78px;
$sm-icon-twitter01-offset-x: -115px;
$sm-icon-twitter01-offset-y: -78px;
$sm-icon-twitter01-width: 21px;
$sm-icon-twitter01-height: 20px;
$sm-icon-twitter01-total-width: 248px;
$sm-icon-twitter01-total-height: 217px;
$sm-icon-twitter01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-twitter01: (115px, 78px, -115px, -78px, 21px, 20px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_twitter01', );
$sm-radio01-name: 'sm-radio01';
$sm-radio01-x: 115px;
$sm-radio01-y: 51px;
$sm-radio01-offset-x: -115px;
$sm-radio01-offset-y: -51px;
$sm-radio01-width: 22px;
$sm-radio01-height: 21px;
$sm-radio01-total-width: 248px;
$sm-radio01-total-height: 217px;
$sm-radio01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-radio01: (115px, 51px, -115px, -51px, 22px, 21px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-radio01', );
$sm-radio01-selected-name: 'sm-radio01_selected';
$sm-radio01-selected-x: 211px;
$sm-radio01-selected-y: 153px;
$sm-radio01-selected-offset-x: -211px;
$sm-radio01-selected-offset-y: -153px;
$sm-radio01-selected-width: 22px;
$sm-radio01-selected-height: 21px;
$sm-radio01-selected-total-width: 248px;
$sm-radio01-selected-total-height: 217px;
$sm-radio01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-radio01-selected: (211px, 153px, -211px, -153px, 22px, 21px, 248px, 217px, '/assets/images/mobile/sprites_mobile.png', 'sm-radio01_selected', );
$sm-benz-logo01-2x-name: 'sm-benz_logo01@2x';
$sm-benz-logo01-2x-x: 0px;
$sm-benz-logo01-2x-y: 102px;
$sm-benz-logo01-2x-offset-x: 0px;
$sm-benz-logo01-2x-offset-y: -102px;
$sm-benz-logo01-2x-width: 108px;
$sm-benz-logo01-2x-height: 108px;
$sm-benz-logo01-2x-total-width: 496px;
$sm-benz-logo01-2x-total-height: 434px;
$sm-benz-logo01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-benz-logo01-2x: (0px, 102px, 0px, -102px, 108px, 108px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-benz_logo01@2x', );
$sm-benz-logo-header-2x-name: 'sm-benz_logo_header@2x';
$sm-benz-logo-header-2x-x: 0px;
$sm-benz-logo-header-2x-y: 0px;
$sm-benz-logo-header-2x-offset-x: 0px;
$sm-benz-logo-header-2x-offset-y: 0px;
$sm-benz-logo-header-2x-width: 300px;
$sm-benz-logo-header-2x-height: 90px;
$sm-benz-logo-header-2x-total-width: 496px;
$sm-benz-logo-header-2x-total-height: 434px;
$sm-benz-logo-header-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-benz-logo-header-2x: (0px, 0px, 0px, 0px, 300px, 90px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-benz_logo_header@2x', );
$sm-btn-close01-2x-name: 'sm-btn_close01@2x';
$sm-btn-close01-2x-x: 422px;
$sm-btn-close01-2x-y: 160px;
$sm-btn-close01-2x-offset-x: -422px;
$sm-btn-close01-2x-offset-y: -160px;
$sm-btn-close01-2x-width: 62px;
$sm-btn-close01-2x-height: 62px;
$sm-btn-close01-2x-total-width: 496px;
$sm-btn-close01-2x-total-height: 434px;
$sm-btn-close01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-close01-2x: (422px, 160px, -422px, -160px, 62px, 62px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_close01@2x', );
$sm-btn-down01-2x-name: 'sm-btn_down01@2x';
$sm-btn-down01-2x-x: 120px;
$sm-btn-down01-2x-y: 102px;
$sm-btn-down01-2x-offset-x: -120px;
$sm-btn-down01-2x-offset-y: -102px;
$sm-btn-down01-2x-width: 98px;
$sm-btn-down01-2x-height: 98px;
$sm-btn-down01-2x-total-width: 496px;
$sm-btn-down01-2x-total-height: 434px;
$sm-btn-down01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-down01-2x: (120px, 102px, -120px, -102px, 98px, 98px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_down01@2x', );
$sm-btn-down02-2x-name: 'sm-btn_down02@2x';
$sm-btn-down02-2x-x: 312px;
$sm-btn-down02-2x-y: 0px;
$sm-btn-down02-2x-offset-x: -312px;
$sm-btn-down02-2x-offset-y: 0px;
$sm-btn-down02-2x-width: 98px;
$sm-btn-down02-2x-height: 98px;
$sm-btn-down02-2x-total-width: 496px;
$sm-btn-down02-2x-total-height: 434px;
$sm-btn-down02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-down02-2x: (312px, 0px, -312px, 0px, 98px, 98px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_down02@2x', );
$sm-btn-fb01-2x-name: 'sm-btn_fb01@2x';
$sm-btn-fb01-2x-x: 0px;
$sm-btn-fb01-2x-y: 222px;
$sm-btn-fb01-2x-offset-x: 0px;
$sm-btn-fb01-2x-offset-y: -222px;
$sm-btn-fb01-2x-width: 74px;
$sm-btn-fb01-2x-height: 74px;
$sm-btn-fb01-2x-total-width: 496px;
$sm-btn-fb01-2x-total-height: 434px;
$sm-btn-fb01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-fb01-2x: (0px, 222px, 0px, -222px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_fb01@2x', );
$sm-btn-fb01-selected-2x-name: 'sm-btn_fb01_selected@2x';
$sm-btn-fb01-selected-2x-x: 86px;
$sm-btn-fb01-selected-2x-y: 222px;
$sm-btn-fb01-selected-2x-offset-x: -86px;
$sm-btn-fb01-selected-2x-offset-y: -222px;
$sm-btn-fb01-selected-2x-width: 74px;
$sm-btn-fb01-selected-2x-height: 74px;
$sm-btn-fb01-selected-2x-total-width: 496px;
$sm-btn-fb01-selected-2x-total-height: 434px;
$sm-btn-fb01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-fb01-selected-2x: (86px, 222px, -86px, -222px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_fb01_selected@2x', );
$sm-btn-insta01-2x-name: 'sm-btn_insta01@2x';
$sm-btn-insta01-2x-x: 172px;
$sm-btn-insta01-2x-y: 222px;
$sm-btn-insta01-2x-offset-x: -172px;
$sm-btn-insta01-2x-offset-y: -222px;
$sm-btn-insta01-2x-width: 74px;
$sm-btn-insta01-2x-height: 74px;
$sm-btn-insta01-2x-total-width: 496px;
$sm-btn-insta01-2x-total-height: 434px;
$sm-btn-insta01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-insta01-2x: (172px, 222px, -172px, -222px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_insta01@2x', );
$sm-btn-insta01-selected-2x-name: 'sm-btn_insta01_selected@2x';
$sm-btn-insta01-selected-2x-x: 258px;
$sm-btn-insta01-selected-2x-y: 222px;
$sm-btn-insta01-selected-2x-offset-x: -258px;
$sm-btn-insta01-selected-2x-offset-y: -222px;
$sm-btn-insta01-selected-2x-width: 74px;
$sm-btn-insta01-selected-2x-height: 74px;
$sm-btn-insta01-selected-2x-total-width: 496px;
$sm-btn-insta01-selected-2x-total-height: 434px;
$sm-btn-insta01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-insta01-selected-2x: (258px, 222px, -258px, -222px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_insta01_selected@2x', );
$sm-btn-ks01-2x-name: 'sm-btn_ks01@2x';
$sm-btn-ks01-2x-x: 0px;
$sm-btn-ks01-2x-y: 308px;
$sm-btn-ks01-2x-offset-x: 0px;
$sm-btn-ks01-2x-offset-y: -308px;
$sm-btn-ks01-2x-width: 74px;
$sm-btn-ks01-2x-height: 74px;
$sm-btn-ks01-2x-total-width: 496px;
$sm-btn-ks01-2x-total-height: 434px;
$sm-btn-ks01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-ks01-2x: (0px, 308px, 0px, -308px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_ks01@2x', );
$sm-btn-ks01-selected-2x-name: 'sm-btn_ks01_selected@2x';
$sm-btn-ks01-selected-2x-x: 86px;
$sm-btn-ks01-selected-2x-y: 308px;
$sm-btn-ks01-selected-2x-offset-x: -86px;
$sm-btn-ks01-selected-2x-offset-y: -308px;
$sm-btn-ks01-selected-2x-width: 74px;
$sm-btn-ks01-selected-2x-height: 74px;
$sm-btn-ks01-selected-2x-total-width: 496px;
$sm-btn-ks01-selected-2x-total-height: 434px;
$sm-btn-ks01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-ks01-selected-2x: (86px, 308px, -86px, -308px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_ks01_selected@2x', );
$sm-btn-play01-2x-name: 'sm-btn_play01@2x';
$sm-btn-play01-2x-x: 312px;
$sm-btn-play01-2x-y: 110px;
$sm-btn-play01-2x-offset-x: -312px;
$sm-btn-play01-2x-offset-y: -110px;
$sm-btn-play01-2x-width: 92px;
$sm-btn-play01-2x-height: 92px;
$sm-btn-play01-2x-total-width: 496px;
$sm-btn-play01-2x-total-height: 434px;
$sm-btn-play01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-play01-2x: (312px, 110px, -312px, -110px, 92px, 92px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_play01@2x', );
$sm-btn-top01-2x-name: 'sm-btn_top01@2x';
$sm-btn-top01-2x-x: 54px;
$sm-btn-top01-2x-y: 394px;
$sm-btn-top01-2x-offset-x: -54px;
$sm-btn-top01-2x-offset-y: -394px;
$sm-btn-top01-2x-width: 28px;
$sm-btn-top01-2x-height: 28px;
$sm-btn-top01-2x-total-width: 496px;
$sm-btn-top01-2x-total-height: 434px;
$sm-btn-top01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-top01-2x: (54px, 394px, -54px, -394px, 28px, 28px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_top01@2x', );
$sm-btn-tw01-2x-name: 'sm-btn_tw01@2x';
$sm-btn-tw01-2x-x: 422px;
$sm-btn-tw01-2x-y: 0px;
$sm-btn-tw01-2x-offset-x: -422px;
$sm-btn-tw01-2x-offset-y: 0px;
$sm-btn-tw01-2x-width: 74px;
$sm-btn-tw01-2x-height: 74px;
$sm-btn-tw01-2x-total-width: 496px;
$sm-btn-tw01-2x-total-height: 434px;
$sm-btn-tw01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-tw01-2x: (422px, 0px, -422px, 0px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_tw01@2x', );
$sm-btn-tw01-selected-2x-name: 'sm-btn_tw01_selected@2x';
$sm-btn-tw01-selected-2x-x: 172px;
$sm-btn-tw01-selected-2x-y: 308px;
$sm-btn-tw01-selected-2x-offset-x: -172px;
$sm-btn-tw01-selected-2x-offset-y: -308px;
$sm-btn-tw01-selected-2x-width: 74px;
$sm-btn-tw01-selected-2x-height: 74px;
$sm-btn-tw01-selected-2x-total-width: 496px;
$sm-btn-tw01-selected-2x-total-height: 434px;
$sm-btn-tw01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-tw01-selected-2x: (172px, 308px, -172px, -308px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_tw01_selected@2x', );
$sm-btn-upload01-2x-name: 'sm-btn_upload01@2x';
$sm-btn-upload01-2x-x: 258px;
$sm-btn-upload01-2x-y: 308px;
$sm-btn-upload01-2x-offset-x: -258px;
$sm-btn-upload01-2x-offset-y: -308px;
$sm-btn-upload01-2x-width: 74px;
$sm-btn-upload01-2x-height: 74px;
$sm-btn-upload01-2x-total-width: 496px;
$sm-btn-upload01-2x-total-height: 434px;
$sm-btn-upload01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-upload01-2x: (258px, 308px, -258px, -308px, 74px, 74px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_upload01@2x', );
$sm-icon-arrow01-2x-name: 'sm-icon_arrow01@2x';
$sm-icon-arrow01-2x-x: 344px;
$sm-icon-arrow01-2x-y: 274px;
$sm-icon-arrow01-2x-offset-x: -344px;
$sm-icon-arrow01-2x-offset-y: -274px;
$sm-icon-arrow01-2x-width: 20px;
$sm-icon-arrow01-2x-height: 12px;
$sm-icon-arrow01-2x-total-width: 496px;
$sm-icon-arrow01-2x-total-height: 434px;
$sm-icon-arrow01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-arrow01-2x: (344px, 274px, -344px, -274px, 20px, 12px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_arrow01@2x', );
$sm-icon-arrow02-2x-name: 'sm-icon_arrow02@2x';
$sm-icon-arrow02-2x-x: 458px;
$sm-icon-arrow02-2x-y: 360px;
$sm-icon-arrow02-2x-offset-x: -458px;
$sm-icon-arrow02-2x-offset-y: -360px;
$sm-icon-arrow02-2x-width: 28px;
$sm-icon-arrow02-2x-height: 14px;
$sm-icon-arrow02-2x-total-width: 496px;
$sm-icon-arrow02-2x-total-height: 434px;
$sm-icon-arrow02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-arrow02-2x: (458px, 360px, -458px, -360px, 28px, 14px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_arrow02@2x', );
$sm-icon-arrow03-2x-name: 'sm-icon_arrow03@2x';
$sm-icon-arrow03-2x-x: 422px;
$sm-icon-arrow03-2x-y: 234px;
$sm-icon-arrow03-2x-offset-x: -422px;
$sm-icon-arrow03-2x-offset-y: -234px;
$sm-icon-arrow03-2x-width: 60px;
$sm-icon-arrow03-2x-height: 60px;
$sm-icon-arrow03-2x-total-width: 496px;
$sm-icon-arrow03-2x-total-height: 434px;
$sm-icon-arrow03-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-arrow03-2x: (422px, 234px, -422px, -234px, 60px, 60px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_arrow03@2x', );
$sm-icon-arrow04-2x-name: 'sm-icon_arrow04@2x';
$sm-icon-arrow04-2x-x: 422px;
$sm-icon-arrow04-2x-y: 360px;
$sm-icon-arrow04-2x-offset-x: -422px;
$sm-icon-arrow04-2x-offset-y: -360px;
$sm-icon-arrow04-2x-width: 24px;
$sm-icon-arrow04-2x-height: 22px;
$sm-icon-arrow04-2x-total-width: 496px;
$sm-icon-arrow04-2x-total-height: 434px;
$sm-icon-arrow04-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-arrow04-2x: (422px, 360px, -422px, -360px, 24px, 22px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_arrow04@2x', );
$sm-icon-facebook01-2x-name: 'sm-icon_facebook01@2x';
$sm-icon-facebook01-2x-x: 344px;
$sm-icon-facebook01-2x-y: 222px;
$sm-icon-facebook01-2x-offset-x: -344px;
$sm-icon-facebook01-2x-offset-y: -222px;
$sm-icon-facebook01-2x-width: 42px;
$sm-icon-facebook01-2x-height: 40px;
$sm-icon-facebook01-2x-total-width: 496px;
$sm-icon-facebook01-2x-total-height: 434px;
$sm-icon-facebook01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-facebook01-2x: (344px, 222px, -344px, -222px, 42px, 40px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_facebook01@2x', );
$sm-icon-instagram01-2x-name: 'sm-icon_instagram01@2x';
$sm-icon-instagram01-2x-x: 344px;
$sm-icon-instagram01-2x-y: 308px;
$sm-icon-instagram01-2x-offset-x: -344px;
$sm-icon-instagram01-2x-offset-y: -308px;
$sm-icon-instagram01-2x-width: 42px;
$sm-icon-instagram01-2x-height: 40px;
$sm-icon-instagram01-2x-total-width: 496px;
$sm-icon-instagram01-2x-total-height: 434px;
$sm-icon-instagram01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-instagram01-2x: (344px, 308px, -344px, -308px, 42px, 40px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_instagram01@2x', );
$sm-icon-kakaostory01-2x-name: 'sm-icon_kakaostory01@2x';
$sm-icon-kakaostory01-2x-x: 0px;
$sm-icon-kakaostory01-2x-y: 394px;
$sm-icon-kakaostory01-2x-offset-x: 0px;
$sm-icon-kakaostory01-2x-offset-y: -394px;
$sm-icon-kakaostory01-2x-width: 42px;
$sm-icon-kakaostory01-2x-height: 40px;
$sm-icon-kakaostory01-2x-total-width: 496px;
$sm-icon-kakaostory01-2x-total-height: 434px;
$sm-icon-kakaostory01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-kakaostory01-2x: (0px, 394px, 0px, -394px, 42px, 40px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_kakaostory01@2x', );
$sm-icon-mbenz-2x-name: 'sm-icon_mbenz@2x';
$sm-icon-mbenz-2x-x: 422px;
$sm-icon-mbenz-2x-y: 86px;
$sm-icon-mbenz-2x-offset-x: -422px;
$sm-icon-mbenz-2x-offset-y: -86px;
$sm-icon-mbenz-2x-width: 62px;
$sm-icon-mbenz-2x-height: 62px;
$sm-icon-mbenz-2x-total-width: 496px;
$sm-icon-mbenz-2x-total-height: 434px;
$sm-icon-mbenz-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-mbenz-2x: (422px, 86px, -422px, -86px, 62px, 62px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_mbenz@2x', );
$sm-icon-reset01-2x-name: 'sm-icon_reset01@2x';
$sm-icon-reset01-2x-x: 478px;
$sm-icon-reset01-2x-y: 306px;
$sm-icon-reset01-2x-offset-x: -478px;
$sm-icon-reset01-2x-offset-y: -306px;
$sm-icon-reset01-2x-width: 15px;
$sm-icon-reset01-2x-height: 14px;
$sm-icon-reset01-2x-total-width: 496px;
$sm-icon-reset01-2x-total-height: 434px;
$sm-icon-reset01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-reset01-2x: (478px, 306px, -478px, -306px, 15px, 14px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_reset01@2x', );
$sm-icon-twitter01-2x-name: 'sm-icon_twitter01@2x';
$sm-icon-twitter01-2x-x: 230px;
$sm-icon-twitter01-2x-y: 156px;
$sm-icon-twitter01-2x-offset-x: -230px;
$sm-icon-twitter01-2x-offset-y: -156px;
$sm-icon-twitter01-2x-width: 42px;
$sm-icon-twitter01-2x-height: 40px;
$sm-icon-twitter01-2x-total-width: 496px;
$sm-icon-twitter01-2x-total-height: 434px;
$sm-icon-twitter01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-twitter01-2x: (230px, 156px, -230px, -156px, 42px, 40px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_twitter01@2x', );
$sm-radio01-2x-name: 'sm-radio01@2x';
$sm-radio01-2x-x: 230px;
$sm-radio01-2x-y: 102px;
$sm-radio01-2x-offset-x: -230px;
$sm-radio01-2x-offset-y: -102px;
$sm-radio01-2x-width: 44px;
$sm-radio01-2x-height: 42px;
$sm-radio01-2x-total-width: 496px;
$sm-radio01-2x-total-height: 434px;
$sm-radio01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-radio01-2x: (230px, 102px, -230px, -102px, 44px, 42px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-radio01@2x', );
$sm-radio01-selected-2x-name: 'sm-radio01_selected@2x';
$sm-radio01-selected-2x-x: 422px;
$sm-radio01-selected-2x-y: 306px;
$sm-radio01-selected-2x-offset-x: -422px;
$sm-radio01-selected-2x-offset-y: -306px;
$sm-radio01-selected-2x-width: 44px;
$sm-radio01-selected-2x-height: 42px;
$sm-radio01-selected-2x-total-width: 496px;
$sm-radio01-selected-2x-total-height: 434px;
$sm-radio01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-radio01-selected-2x: (422px, 306px, -422px, -306px, 44px, 42px, 496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-radio01_selected@2x', );
$spritesheet-width: 248px;
$spritesheet-height: 217px;
$spritesheet-image: '/assets/images/mobile/sprites_mobile.png';
$spritesheet-sprites: ($sm-benz-logo01, $sm-benz-logo-header, $sm-btn-close01, $sm-btn-down01, $sm-btn-down02, $sm-btn-fb01, $sm-btn-fb01-selected, $sm-btn-insta01, $sm-btn-insta01-selected, $sm-btn-ks01, $sm-btn-ks01-selected, $sm-btn-play01, $sm-btn-top01, $sm-btn-tw01, $sm-btn-tw01-selected, $sm-btn-upload01, $sm-icon-arrow01, $sm-icon-arrow02, $sm-icon-arrow03, $sm-icon-arrow04, $sm-icon-facebook01, $sm-icon-instagram01, $sm-icon-kakaostory01, $sm-icon-mbenz, $sm-icon-reset01, $sm-icon-twitter01, $sm-radio01, $sm-radio01-selected, );
$spritesheet: (248px, 217px, '/assets/images/mobile/sprites_mobile.png', $spritesheet-sprites, );
$retina-spritesheet-width: 496px;
$retina-spritesheet-height: 434px;
$retina-spritesheet-image: '/assets/images/mobile/sprites_mobile@2x.png';
$retina-spritesheet-sprites: ($sm-benz-logo01-2x, $sm-benz-logo-header-2x, $sm-btn-close01-2x, $sm-btn-down01-2x, $sm-btn-down02-2x, $sm-btn-fb01-2x, $sm-btn-fb01-selected-2x, $sm-btn-insta01-2x, $sm-btn-insta01-selected-2x, $sm-btn-ks01-2x, $sm-btn-ks01-selected-2x, $sm-btn-play01-2x, $sm-btn-top01-2x, $sm-btn-tw01-2x, $sm-btn-tw01-selected-2x, $sm-btn-upload01-2x, $sm-icon-arrow01-2x, $sm-icon-arrow02-2x, $sm-icon-arrow03-2x, $sm-icon-arrow04-2x, $sm-icon-facebook01-2x, $sm-icon-instagram01-2x, $sm-icon-kakaostory01-2x, $sm-icon-mbenz-2x, $sm-icon-reset01-2x, $sm-icon-twitter01-2x, $sm-radio01-2x, $sm-radio01-selected-2x, );
$retina-spritesheet: (496px, 434px, '/assets/images/mobile/sprites_mobile@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-benz-logo01-group-name: 'sm-benz_logo01';
$sm-benz-logo01-group: ('sm-benz_logo01', $sm-benz-logo01, $sm-benz-logo01-2x, );
$sm-benz-logo-header-group-name: 'sm-benz_logo_header';
$sm-benz-logo-header-group: ('sm-benz_logo_header', $sm-benz-logo-header, $sm-benz-logo-header-2x, );
$sm-btn-close01-group-name: 'sm-btn_close01';
$sm-btn-close01-group: ('sm-btn_close01', $sm-btn-close01, $sm-btn-close01-2x, );
$sm-btn-down01-group-name: 'sm-btn_down01';
$sm-btn-down01-group: ('sm-btn_down01', $sm-btn-down01, $sm-btn-down01-2x, );
$sm-btn-down02-group-name: 'sm-btn_down02';
$sm-btn-down02-group: ('sm-btn_down02', $sm-btn-down02, $sm-btn-down02-2x, );
$sm-btn-fb01-group-name: 'sm-btn_fb01';
$sm-btn-fb01-group: ('sm-btn_fb01', $sm-btn-fb01, $sm-btn-fb01-2x, );
$sm-btn-fb01-selected-group-name: 'sm-btn_fb01_selected';
$sm-btn-fb01-selected-group: ('sm-btn_fb01_selected', $sm-btn-fb01-selected, $sm-btn-fb01-selected-2x, );
$sm-btn-insta01-group-name: 'sm-btn_insta01';
$sm-btn-insta01-group: ('sm-btn_insta01', $sm-btn-insta01, $sm-btn-insta01-2x, );
$sm-btn-insta01-selected-group-name: 'sm-btn_insta01_selected';
$sm-btn-insta01-selected-group: ('sm-btn_insta01_selected', $sm-btn-insta01-selected, $sm-btn-insta01-selected-2x, );
$sm-btn-ks01-group-name: 'sm-btn_ks01';
$sm-btn-ks01-group: ('sm-btn_ks01', $sm-btn-ks01, $sm-btn-ks01-2x, );
$sm-btn-ks01-selected-group-name: 'sm-btn_ks01_selected';
$sm-btn-ks01-selected-group: ('sm-btn_ks01_selected', $sm-btn-ks01-selected, $sm-btn-ks01-selected-2x, );
$sm-btn-play01-group-name: 'sm-btn_play01';
$sm-btn-play01-group: ('sm-btn_play01', $sm-btn-play01, $sm-btn-play01-2x, );
$sm-btn-top01-group-name: 'sm-btn_top01';
$sm-btn-top01-group: ('sm-btn_top01', $sm-btn-top01, $sm-btn-top01-2x, );
$sm-btn-tw01-group-name: 'sm-btn_tw01';
$sm-btn-tw01-group: ('sm-btn_tw01', $sm-btn-tw01, $sm-btn-tw01-2x, );
$sm-btn-tw01-selected-group-name: 'sm-btn_tw01_selected';
$sm-btn-tw01-selected-group: ('sm-btn_tw01_selected', $sm-btn-tw01-selected, $sm-btn-tw01-selected-2x, );
$sm-btn-upload01-group-name: 'sm-btn_upload01';
$sm-btn-upload01-group: ('sm-btn_upload01', $sm-btn-upload01, $sm-btn-upload01-2x, );
$sm-icon-arrow01-group-name: 'sm-icon_arrow01';
$sm-icon-arrow01-group: ('sm-icon_arrow01', $sm-icon-arrow01, $sm-icon-arrow01-2x, );
$sm-icon-arrow02-group-name: 'sm-icon_arrow02';
$sm-icon-arrow02-group: ('sm-icon_arrow02', $sm-icon-arrow02, $sm-icon-arrow02-2x, );
$sm-icon-arrow03-group-name: 'sm-icon_arrow03';
$sm-icon-arrow03-group: ('sm-icon_arrow03', $sm-icon-arrow03, $sm-icon-arrow03-2x, );
$sm-icon-arrow04-group-name: 'sm-icon_arrow04';
$sm-icon-arrow04-group: ('sm-icon_arrow04', $sm-icon-arrow04, $sm-icon-arrow04-2x, );
$sm-icon-facebook01-group-name: 'sm-icon_facebook01';
$sm-icon-facebook01-group: ('sm-icon_facebook01', $sm-icon-facebook01, $sm-icon-facebook01-2x, );
$sm-icon-instagram01-group-name: 'sm-icon_instagram01';
$sm-icon-instagram01-group: ('sm-icon_instagram01', $sm-icon-instagram01, $sm-icon-instagram01-2x, );
$sm-icon-kakaostory01-group-name: 'sm-icon_kakaostory01';
$sm-icon-kakaostory01-group: ('sm-icon_kakaostory01', $sm-icon-kakaostory01, $sm-icon-kakaostory01-2x, );
$sm-icon-mbenz-group-name: 'sm-icon_mbenz';
$sm-icon-mbenz-group: ('sm-icon_mbenz', $sm-icon-mbenz, $sm-icon-mbenz-2x, );
$sm-icon-reset01-group-name: 'sm-icon_reset01';
$sm-icon-reset01-group: ('sm-icon_reset01', $sm-icon-reset01, $sm-icon-reset01-2x, );
$sm-icon-twitter01-group-name: 'sm-icon_twitter01';
$sm-icon-twitter01-group: ('sm-icon_twitter01', $sm-icon-twitter01, $sm-icon-twitter01-2x, );
$sm-radio01-group-name: 'sm-radio01';
$sm-radio01-group: ('sm-radio01', $sm-radio01, $sm-radio01-2x, );
$sm-radio01-selected-group-name: 'sm-radio01_selected';
$sm-radio01-selected-group: ('sm-radio01_selected', $sm-radio01-selected, $sm-radio01-selected-2x, );
$retina-groups: ($sm-benz-logo01-group, $sm-benz-logo-header-group, $sm-btn-close01-group, $sm-btn-down01-group, $sm-btn-down02-group, $sm-btn-fb01-group, $sm-btn-fb01-selected-group, $sm-btn-insta01-group, $sm-btn-insta01-selected-group, $sm-btn-ks01-group, $sm-btn-ks01-selected-group, $sm-btn-play01-group, $sm-btn-top01-group, $sm-btn-tw01-group, $sm-btn-tw01-selected-group, $sm-btn-upload01-group, $sm-icon-arrow01-group, $sm-icon-arrow02-group, $sm-icon-arrow03-group, $sm-icon-arrow04-group, $sm-icon-facebook01-group, $sm-icon-instagram01-group, $sm-icon-kakaostory01-group, $sm-icon-mbenz-group, $sm-icon-reset01-group, $sm-icon-twitter01-group, $sm-radio01-group, $sm-radio01-selected-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
