/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sm-benz-logo-header-name: 'sm-benz_logo_header';
$sm-benz-logo-header-x: 0px;
$sm-benz-logo-header-y: 0px;
$sm-benz-logo-header-offset-x: 0px;
$sm-benz-logo-header-offset-y: 0px;
$sm-benz-logo-header-width: 159px;
$sm-benz-logo-header-height: 44px;
$sm-benz-logo-header-total-width: 230px;
$sm-benz-logo-header-total-height: 185px;
$sm-benz-logo-header-image: '/assets/images/mobile/sprites_mobile.png';
$sm-benz-logo-header: (0px, 0px, 0px, 0px, 159px, 44px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-benz_logo_header', );
$sm-btn-close01-name: 'sm-btn_close01';
$sm-btn-close01-x: 86px;
$sm-btn-close01-y: 148px;
$sm-btn-close01-offset-x: -86px;
$sm-btn-close01-offset-y: -148px;
$sm-btn-close01-width: 31px;
$sm-btn-close01-height: 31px;
$sm-btn-close01-total-width: 230px;
$sm-btn-close01-total-height: 185px;
$sm-btn-close01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-close01: (86px, 148px, -86px, -148px, 31px, 31px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_close01', );
$sm-btn-down01-name: 'sm-btn_down01';
$sm-btn-down01-x: 0px;
$sm-btn-down01-y: 50px;
$sm-btn-down01-offset-x: 0px;
$sm-btn-down01-offset-y: -50px;
$sm-btn-down01-width: 49px;
$sm-btn-down01-height: 49px;
$sm-btn-down01-total-width: 230px;
$sm-btn-down01-total-height: 185px;
$sm-btn-down01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-down01: (0px, 50px, 0px, -50px, 49px, 49px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_down01', );
$sm-btn-down02-name: 'sm-btn_down02';
$sm-btn-down02-x: 55px;
$sm-btn-down02-y: 50px;
$sm-btn-down02-offset-x: -55px;
$sm-btn-down02-offset-y: -50px;
$sm-btn-down02-width: 49px;
$sm-btn-down02-height: 49px;
$sm-btn-down02-total-width: 230px;
$sm-btn-down02-total-height: 185px;
$sm-btn-down02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-down02: (55px, 50px, -55px, -50px, 49px, 49px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_down02', );
$sm-btn-fb01-name: 'sm-btn_fb01';
$sm-btn-fb01-x: 0px;
$sm-btn-fb01-y: 105px;
$sm-btn-fb01-offset-x: 0px;
$sm-btn-fb01-offset-y: -105px;
$sm-btn-fb01-width: 37px;
$sm-btn-fb01-height: 37px;
$sm-btn-fb01-total-width: 230px;
$sm-btn-fb01-total-height: 185px;
$sm-btn-fb01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-fb01: (0px, 105px, 0px, -105px, 37px, 37px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_fb01', );
$sm-btn-fb01-selected-name: 'sm-btn_fb01_selected';
$sm-btn-fb01-selected-x: 43px;
$sm-btn-fb01-selected-y: 105px;
$sm-btn-fb01-selected-offset-x: -43px;
$sm-btn-fb01-selected-offset-y: -105px;
$sm-btn-fb01-selected-width: 37px;
$sm-btn-fb01-selected-height: 37px;
$sm-btn-fb01-selected-total-width: 230px;
$sm-btn-fb01-selected-total-height: 185px;
$sm-btn-fb01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-fb01-selected: (43px, 105px, -43px, -105px, 37px, 37px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_fb01_selected', );
$sm-btn-insta01-name: 'sm-btn_insta01';
$sm-btn-insta01-x: 86px;
$sm-btn-insta01-y: 105px;
$sm-btn-insta01-offset-x: -86px;
$sm-btn-insta01-offset-y: -105px;
$sm-btn-insta01-width: 37px;
$sm-btn-insta01-height: 37px;
$sm-btn-insta01-total-width: 230px;
$sm-btn-insta01-total-height: 185px;
$sm-btn-insta01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-insta01: (86px, 105px, -86px, -105px, 37px, 37px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_insta01', );
$sm-btn-insta01-selected-name: 'sm-btn_insta01_selected';
$sm-btn-insta01-selected-x: 165px;
$sm-btn-insta01-selected-y: 0px;
$sm-btn-insta01-selected-offset-x: -165px;
$sm-btn-insta01-selected-offset-y: 0px;
$sm-btn-insta01-selected-width: 37px;
$sm-btn-insta01-selected-height: 37px;
$sm-btn-insta01-selected-total-width: 230px;
$sm-btn-insta01-selected-total-height: 185px;
$sm-btn-insta01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-insta01-selected: (165px, 0px, -165px, 0px, 37px, 37px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_insta01_selected', );
$sm-btn-ks01-name: 'sm-btn_ks01';
$sm-btn-ks01-x: 165px;
$sm-btn-ks01-y: 43px;
$sm-btn-ks01-offset-x: -165px;
$sm-btn-ks01-offset-y: -43px;
$sm-btn-ks01-width: 37px;
$sm-btn-ks01-height: 37px;
$sm-btn-ks01-total-width: 230px;
$sm-btn-ks01-total-height: 185px;
$sm-btn-ks01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-ks01: (165px, 43px, -165px, -43px, 37px, 37px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_ks01', );
$sm-btn-ks01-selected-name: 'sm-btn_ks01_selected';
$sm-btn-ks01-selected-x: 165px;
$sm-btn-ks01-selected-y: 86px;
$sm-btn-ks01-selected-offset-x: -165px;
$sm-btn-ks01-selected-offset-y: -86px;
$sm-btn-ks01-selected-width: 37px;
$sm-btn-ks01-selected-height: 37px;
$sm-btn-ks01-selected-total-width: 230px;
$sm-btn-ks01-selected-total-height: 185px;
$sm-btn-ks01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-ks01-selected: (165px, 86px, -165px, -86px, 37px, 37px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_ks01_selected', );
$sm-btn-play01-name: 'sm-btn_play01';
$sm-btn-play01-x: 110px;
$sm-btn-play01-y: 50px;
$sm-btn-play01-offset-x: -110px;
$sm-btn-play01-offset-y: -50px;
$sm-btn-play01-width: 46px;
$sm-btn-play01-height: 46px;
$sm-btn-play01-total-width: 230px;
$sm-btn-play01-total-height: 185px;
$sm-btn-play01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-play01: (110px, 50px, -110px, -50px, 46px, 46px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_play01', );
$sm-btn-top01-name: 'sm-btn_top01';
$sm-btn-top01-x: 208px;
$sm-btn-top01-y: 131px;
$sm-btn-top01-offset-x: -208px;
$sm-btn-top01-offset-y: -131px;
$sm-btn-top01-width: 14px;
$sm-btn-top01-height: 14px;
$sm-btn-top01-total-width: 230px;
$sm-btn-top01-total-height: 185px;
$sm-btn-top01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-top01: (208px, 131px, -208px, -131px, 14px, 14px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_top01', );
$sm-btn-tw01-name: 'sm-btn_tw01';
$sm-btn-tw01-x: 0px;
$sm-btn-tw01-y: 148px;
$sm-btn-tw01-offset-x: 0px;
$sm-btn-tw01-offset-y: -148px;
$sm-btn-tw01-width: 37px;
$sm-btn-tw01-height: 37px;
$sm-btn-tw01-total-width: 230px;
$sm-btn-tw01-total-height: 185px;
$sm-btn-tw01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-tw01: (0px, 148px, 0px, -148px, 37px, 37px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_tw01', );
$sm-btn-tw01-selected-name: 'sm-btn_tw01_selected';
$sm-btn-tw01-selected-x: 43px;
$sm-btn-tw01-selected-y: 148px;
$sm-btn-tw01-selected-offset-x: -43px;
$sm-btn-tw01-selected-offset-y: -148px;
$sm-btn-tw01-selected-width: 37px;
$sm-btn-tw01-selected-height: 37px;
$sm-btn-tw01-selected-total-width: 230px;
$sm-btn-tw01-selected-total-height: 185px;
$sm-btn-tw01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-btn-tw01-selected: (43px, 148px, -43px, -148px, 37px, 37px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-btn_tw01_selected', );
$sm-icon-arrow01-name: 'sm-icon_arrow01';
$sm-icon-arrow01-x: 165px;
$sm-icon-arrow01-y: 129px;
$sm-icon-arrow01-offset-x: -165px;
$sm-icon-arrow01-offset-y: -129px;
$sm-icon-arrow01-width: 10px;
$sm-icon-arrow01-height: 6px;
$sm-icon-arrow01-total-width: 230px;
$sm-icon-arrow01-total-height: 185px;
$sm-icon-arrow01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-arrow01: (165px, 129px, -165px, -129px, 10px, 6px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_arrow01', );
$sm-icon-arrow02-name: 'sm-icon_arrow02';
$sm-icon-arrow02-x: 208px;
$sm-icon-arrow02-y: 168px;
$sm-icon-arrow02-offset-x: -208px;
$sm-icon-arrow02-offset-y: -168px;
$sm-icon-arrow02-width: 14px;
$sm-icon-arrow02-height: 7px;
$sm-icon-arrow02-total-width: 230px;
$sm-icon-arrow02-total-height: 185px;
$sm-icon-arrow02-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-arrow02: (208px, 168px, -208px, -168px, 14px, 7px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_arrow02', );
$sm-icon-arrow03-name: 'sm-icon_arrow03';
$sm-icon-arrow03-x: 129px;
$sm-icon-arrow03-y: 105px;
$sm-icon-arrow03-offset-x: -129px;
$sm-icon-arrow03-offset-y: -105px;
$sm-icon-arrow03-width: 30px;
$sm-icon-arrow03-height: 30px;
$sm-icon-arrow03-total-width: 230px;
$sm-icon-arrow03-total-height: 185px;
$sm-icon-arrow03-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-arrow03: (129px, 105px, -129px, -105px, 30px, 30px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_arrow03', );
$sm-icon-arrow04-name: 'sm-icon_arrow04';
$sm-icon-arrow04-x: 208px;
$sm-icon-arrow04-y: 151px;
$sm-icon-arrow04-offset-x: -208px;
$sm-icon-arrow04-offset-y: -151px;
$sm-icon-arrow04-width: 12px;
$sm-icon-arrow04-height: 11px;
$sm-icon-arrow04-total-width: 230px;
$sm-icon-arrow04-total-height: 185px;
$sm-icon-arrow04-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-arrow04: (208px, 151px, -208px, -151px, 12px, 11px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_arrow04', );
$sm-icon-facebook01-name: 'sm-icon_facebook01';
$sm-icon-facebook01-x: 208px;
$sm-icon-facebook01-y: 105px;
$sm-icon-facebook01-offset-x: -208px;
$sm-icon-facebook01-offset-y: -105px;
$sm-icon-facebook01-width: 21px;
$sm-icon-facebook01-height: 20px;
$sm-icon-facebook01-total-width: 230px;
$sm-icon-facebook01-total-height: 185px;
$sm-icon-facebook01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-facebook01: (208px, 105px, -208px, -105px, 21px, 20px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_facebook01', );
$sm-icon-instagram01-name: 'sm-icon_instagram01';
$sm-icon-instagram01-x: 208px;
$sm-icon-instagram01-y: 27px;
$sm-icon-instagram01-offset-x: -208px;
$sm-icon-instagram01-offset-y: -27px;
$sm-icon-instagram01-width: 21px;
$sm-icon-instagram01-height: 20px;
$sm-icon-instagram01-total-width: 230px;
$sm-icon-instagram01-total-height: 185px;
$sm-icon-instagram01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-instagram01: (208px, 27px, -208px, -27px, 21px, 20px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_instagram01', );
$sm-icon-kakaostory01-name: 'sm-icon_kakaostory01';
$sm-icon-kakaostory01-x: 208px;
$sm-icon-kakaostory01-y: 53px;
$sm-icon-kakaostory01-offset-x: -208px;
$sm-icon-kakaostory01-offset-y: -53px;
$sm-icon-kakaostory01-width: 21px;
$sm-icon-kakaostory01-height: 20px;
$sm-icon-kakaostory01-total-width: 230px;
$sm-icon-kakaostory01-total-height: 185px;
$sm-icon-kakaostory01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-kakaostory01: (208px, 53px, -208px, -53px, 21px, 20px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_kakaostory01', );
$sm-icon-mbenz-name: 'sm-icon_mbenz';
$sm-icon-mbenz-x: 123px;
$sm-icon-mbenz-y: 148px;
$sm-icon-mbenz-offset-x: -123px;
$sm-icon-mbenz-offset-y: -148px;
$sm-icon-mbenz-width: 31px;
$sm-icon-mbenz-height: 31px;
$sm-icon-mbenz-total-width: 230px;
$sm-icon-mbenz-total-height: 185px;
$sm-icon-mbenz-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-mbenz: (123px, 148px, -123px, -148px, 31px, 31px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_mbenz', );
$sm-icon-twitter01-name: 'sm-icon_twitter01';
$sm-icon-twitter01-x: 208px;
$sm-icon-twitter01-y: 79px;
$sm-icon-twitter01-offset-x: -208px;
$sm-icon-twitter01-offset-y: -79px;
$sm-icon-twitter01-width: 21px;
$sm-icon-twitter01-height: 20px;
$sm-icon-twitter01-total-width: 230px;
$sm-icon-twitter01-total-height: 185px;
$sm-icon-twitter01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-icon-twitter01: (208px, 79px, -208px, -79px, 21px, 20px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-icon_twitter01', );
$sm-radio01-name: 'sm-radio01';
$sm-radio01-x: 208px;
$sm-radio01-y: 0px;
$sm-radio01-offset-x: -208px;
$sm-radio01-offset-y: 0px;
$sm-radio01-width: 22px;
$sm-radio01-height: 21px;
$sm-radio01-total-width: 230px;
$sm-radio01-total-height: 185px;
$sm-radio01-image: '/assets/images/mobile/sprites_mobile.png';
$sm-radio01: (208px, 0px, -208px, 0px, 22px, 21px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-radio01', );
$sm-radio01-selected-name: 'sm-radio01_selected';
$sm-radio01-selected-x: 160px;
$sm-radio01-selected-y: 148px;
$sm-radio01-selected-offset-x: -160px;
$sm-radio01-selected-offset-y: -148px;
$sm-radio01-selected-width: 22px;
$sm-radio01-selected-height: 21px;
$sm-radio01-selected-total-width: 230px;
$sm-radio01-selected-total-height: 185px;
$sm-radio01-selected-image: '/assets/images/mobile/sprites_mobile.png';
$sm-radio01-selected: (160px, 148px, -160px, -148px, 22px, 21px, 230px, 185px, '/assets/images/mobile/sprites_mobile.png', 'sm-radio01_selected', );
$sm-benz-logo-header-2x-name: 'sm-benz_logo_header@2x';
$sm-benz-logo-header-2x-x: 0px;
$sm-benz-logo-header-2x-y: 0px;
$sm-benz-logo-header-2x-offset-x: 0px;
$sm-benz-logo-header-2x-offset-y: 0px;
$sm-benz-logo-header-2x-width: 318px;
$sm-benz-logo-header-2x-height: 88px;
$sm-benz-logo-header-2x-total-width: 460px;
$sm-benz-logo-header-2x-total-height: 370px;
$sm-benz-logo-header-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-benz-logo-header-2x: (0px, 0px, 0px, 0px, 318px, 88px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-benz_logo_header@2x', );
$sm-btn-close01-2x-name: 'sm-btn_close01@2x';
$sm-btn-close01-2x-x: 172px;
$sm-btn-close01-2x-y: 296px;
$sm-btn-close01-2x-offset-x: -172px;
$sm-btn-close01-2x-offset-y: -296px;
$sm-btn-close01-2x-width: 62px;
$sm-btn-close01-2x-height: 62px;
$sm-btn-close01-2x-total-width: 460px;
$sm-btn-close01-2x-total-height: 370px;
$sm-btn-close01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-close01-2x: (172px, 296px, -172px, -296px, 62px, 62px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_close01@2x', );
$sm-btn-down01-2x-name: 'sm-btn_down01@2x';
$sm-btn-down01-2x-x: 0px;
$sm-btn-down01-2x-y: 100px;
$sm-btn-down01-2x-offset-x: 0px;
$sm-btn-down01-2x-offset-y: -100px;
$sm-btn-down01-2x-width: 98px;
$sm-btn-down01-2x-height: 98px;
$sm-btn-down01-2x-total-width: 460px;
$sm-btn-down01-2x-total-height: 370px;
$sm-btn-down01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-down01-2x: (0px, 100px, 0px, -100px, 98px, 98px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_down01@2x', );
$sm-btn-down02-2x-name: 'sm-btn_down02@2x';
$sm-btn-down02-2x-x: 110px;
$sm-btn-down02-2x-y: 100px;
$sm-btn-down02-2x-offset-x: -110px;
$sm-btn-down02-2x-offset-y: -100px;
$sm-btn-down02-2x-width: 98px;
$sm-btn-down02-2x-height: 98px;
$sm-btn-down02-2x-total-width: 460px;
$sm-btn-down02-2x-total-height: 370px;
$sm-btn-down02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-down02-2x: (110px, 100px, -110px, -100px, 98px, 98px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_down02@2x', );
$sm-btn-fb01-2x-name: 'sm-btn_fb01@2x';
$sm-btn-fb01-2x-x: 0px;
$sm-btn-fb01-2x-y: 210px;
$sm-btn-fb01-2x-offset-x: 0px;
$sm-btn-fb01-2x-offset-y: -210px;
$sm-btn-fb01-2x-width: 74px;
$sm-btn-fb01-2x-height: 74px;
$sm-btn-fb01-2x-total-width: 460px;
$sm-btn-fb01-2x-total-height: 370px;
$sm-btn-fb01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-fb01-2x: (0px, 210px, 0px, -210px, 74px, 74px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_fb01@2x', );
$sm-btn-fb01-selected-2x-name: 'sm-btn_fb01_selected@2x';
$sm-btn-fb01-selected-2x-x: 86px;
$sm-btn-fb01-selected-2x-y: 210px;
$sm-btn-fb01-selected-2x-offset-x: -86px;
$sm-btn-fb01-selected-2x-offset-y: -210px;
$sm-btn-fb01-selected-2x-width: 74px;
$sm-btn-fb01-selected-2x-height: 74px;
$sm-btn-fb01-selected-2x-total-width: 460px;
$sm-btn-fb01-selected-2x-total-height: 370px;
$sm-btn-fb01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-fb01-selected-2x: (86px, 210px, -86px, -210px, 74px, 74px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_fb01_selected@2x', );
$sm-btn-insta01-2x-name: 'sm-btn_insta01@2x';
$sm-btn-insta01-2x-x: 172px;
$sm-btn-insta01-2x-y: 210px;
$sm-btn-insta01-2x-offset-x: -172px;
$sm-btn-insta01-2x-offset-y: -210px;
$sm-btn-insta01-2x-width: 74px;
$sm-btn-insta01-2x-height: 74px;
$sm-btn-insta01-2x-total-width: 460px;
$sm-btn-insta01-2x-total-height: 370px;
$sm-btn-insta01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-insta01-2x: (172px, 210px, -172px, -210px, 74px, 74px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_insta01@2x', );
$sm-btn-insta01-selected-2x-name: 'sm-btn_insta01_selected@2x';
$sm-btn-insta01-selected-2x-x: 330px;
$sm-btn-insta01-selected-2x-y: 0px;
$sm-btn-insta01-selected-2x-offset-x: -330px;
$sm-btn-insta01-selected-2x-offset-y: 0px;
$sm-btn-insta01-selected-2x-width: 74px;
$sm-btn-insta01-selected-2x-height: 74px;
$sm-btn-insta01-selected-2x-total-width: 460px;
$sm-btn-insta01-selected-2x-total-height: 370px;
$sm-btn-insta01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-insta01-selected-2x: (330px, 0px, -330px, 0px, 74px, 74px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_insta01_selected@2x', );
$sm-btn-ks01-2x-name: 'sm-btn_ks01@2x';
$sm-btn-ks01-2x-x: 330px;
$sm-btn-ks01-2x-y: 86px;
$sm-btn-ks01-2x-offset-x: -330px;
$sm-btn-ks01-2x-offset-y: -86px;
$sm-btn-ks01-2x-width: 74px;
$sm-btn-ks01-2x-height: 74px;
$sm-btn-ks01-2x-total-width: 460px;
$sm-btn-ks01-2x-total-height: 370px;
$sm-btn-ks01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-ks01-2x: (330px, 86px, -330px, -86px, 74px, 74px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_ks01@2x', );
$sm-btn-ks01-selected-2x-name: 'sm-btn_ks01_selected@2x';
$sm-btn-ks01-selected-2x-x: 330px;
$sm-btn-ks01-selected-2x-y: 172px;
$sm-btn-ks01-selected-2x-offset-x: -330px;
$sm-btn-ks01-selected-2x-offset-y: -172px;
$sm-btn-ks01-selected-2x-width: 74px;
$sm-btn-ks01-selected-2x-height: 74px;
$sm-btn-ks01-selected-2x-total-width: 460px;
$sm-btn-ks01-selected-2x-total-height: 370px;
$sm-btn-ks01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-ks01-selected-2x: (330px, 172px, -330px, -172px, 74px, 74px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_ks01_selected@2x', );
$sm-btn-play01-2x-name: 'sm-btn_play01@2x';
$sm-btn-play01-2x-x: 220px;
$sm-btn-play01-2x-y: 100px;
$sm-btn-play01-2x-offset-x: -220px;
$sm-btn-play01-2x-offset-y: -100px;
$sm-btn-play01-2x-width: 92px;
$sm-btn-play01-2x-height: 92px;
$sm-btn-play01-2x-total-width: 460px;
$sm-btn-play01-2x-total-height: 370px;
$sm-btn-play01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-play01-2x: (220px, 100px, -220px, -100px, 92px, 92px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_play01@2x', );
$sm-btn-top01-2x-name: 'sm-btn_top01@2x';
$sm-btn-top01-2x-x: 416px;
$sm-btn-top01-2x-y: 262px;
$sm-btn-top01-2x-offset-x: -416px;
$sm-btn-top01-2x-offset-y: -262px;
$sm-btn-top01-2x-width: 28px;
$sm-btn-top01-2x-height: 28px;
$sm-btn-top01-2x-total-width: 460px;
$sm-btn-top01-2x-total-height: 370px;
$sm-btn-top01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-top01-2x: (416px, 262px, -416px, -262px, 28px, 28px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_top01@2x', );
$sm-btn-tw01-2x-name: 'sm-btn_tw01@2x';
$sm-btn-tw01-2x-x: 0px;
$sm-btn-tw01-2x-y: 296px;
$sm-btn-tw01-2x-offset-x: 0px;
$sm-btn-tw01-2x-offset-y: -296px;
$sm-btn-tw01-2x-width: 74px;
$sm-btn-tw01-2x-height: 74px;
$sm-btn-tw01-2x-total-width: 460px;
$sm-btn-tw01-2x-total-height: 370px;
$sm-btn-tw01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-tw01-2x: (0px, 296px, 0px, -296px, 74px, 74px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_tw01@2x', );
$sm-btn-tw01-selected-2x-name: 'sm-btn_tw01_selected@2x';
$sm-btn-tw01-selected-2x-x: 86px;
$sm-btn-tw01-selected-2x-y: 296px;
$sm-btn-tw01-selected-2x-offset-x: -86px;
$sm-btn-tw01-selected-2x-offset-y: -296px;
$sm-btn-tw01-selected-2x-width: 74px;
$sm-btn-tw01-selected-2x-height: 74px;
$sm-btn-tw01-selected-2x-total-width: 460px;
$sm-btn-tw01-selected-2x-total-height: 370px;
$sm-btn-tw01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-btn-tw01-selected-2x: (86px, 296px, -86px, -296px, 74px, 74px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-btn_tw01_selected@2x', );
$sm-icon-arrow01-2x-name: 'sm-icon_arrow01@2x';
$sm-icon-arrow01-2x-x: 330px;
$sm-icon-arrow01-2x-y: 258px;
$sm-icon-arrow01-2x-offset-x: -330px;
$sm-icon-arrow01-2x-offset-y: -258px;
$sm-icon-arrow01-2x-width: 20px;
$sm-icon-arrow01-2x-height: 12px;
$sm-icon-arrow01-2x-total-width: 460px;
$sm-icon-arrow01-2x-total-height: 370px;
$sm-icon-arrow01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-arrow01-2x: (330px, 258px, -330px, -258px, 20px, 12px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_arrow01@2x', );
$sm-icon-arrow02-2x-name: 'sm-icon_arrow02@2x';
$sm-icon-arrow02-2x-x: 416px;
$sm-icon-arrow02-2x-y: 336px;
$sm-icon-arrow02-2x-offset-x: -416px;
$sm-icon-arrow02-2x-offset-y: -336px;
$sm-icon-arrow02-2x-width: 28px;
$sm-icon-arrow02-2x-height: 14px;
$sm-icon-arrow02-2x-total-width: 460px;
$sm-icon-arrow02-2x-total-height: 370px;
$sm-icon-arrow02-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-arrow02-2x: (416px, 336px, -416px, -336px, 28px, 14px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_arrow02@2x', );
$sm-icon-arrow03-2x-name: 'sm-icon_arrow03@2x';
$sm-icon-arrow03-2x-x: 258px;
$sm-icon-arrow03-2x-y: 210px;
$sm-icon-arrow03-2x-offset-x: -258px;
$sm-icon-arrow03-2x-offset-y: -210px;
$sm-icon-arrow03-2x-width: 60px;
$sm-icon-arrow03-2x-height: 60px;
$sm-icon-arrow03-2x-total-width: 460px;
$sm-icon-arrow03-2x-total-height: 370px;
$sm-icon-arrow03-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-arrow03-2x: (258px, 210px, -258px, -210px, 60px, 60px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_arrow03@2x', );
$sm-icon-arrow04-2x-name: 'sm-icon_arrow04@2x';
$sm-icon-arrow04-2x-x: 416px;
$sm-icon-arrow04-2x-y: 302px;
$sm-icon-arrow04-2x-offset-x: -416px;
$sm-icon-arrow04-2x-offset-y: -302px;
$sm-icon-arrow04-2x-width: 24px;
$sm-icon-arrow04-2x-height: 22px;
$sm-icon-arrow04-2x-total-width: 460px;
$sm-icon-arrow04-2x-total-height: 370px;
$sm-icon-arrow04-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-arrow04-2x: (416px, 302px, -416px, -302px, 24px, 22px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_arrow04@2x', );
$sm-icon-facebook01-2x-name: 'sm-icon_facebook01@2x';
$sm-icon-facebook01-2x-x: 416px;
$sm-icon-facebook01-2x-y: 210px;
$sm-icon-facebook01-2x-offset-x: -416px;
$sm-icon-facebook01-2x-offset-y: -210px;
$sm-icon-facebook01-2x-width: 42px;
$sm-icon-facebook01-2x-height: 40px;
$sm-icon-facebook01-2x-total-width: 460px;
$sm-icon-facebook01-2x-total-height: 370px;
$sm-icon-facebook01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-facebook01-2x: (416px, 210px, -416px, -210px, 42px, 40px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_facebook01@2x', );
$sm-icon-instagram01-2x-name: 'sm-icon_instagram01@2x';
$sm-icon-instagram01-2x-x: 416px;
$sm-icon-instagram01-2x-y: 54px;
$sm-icon-instagram01-2x-offset-x: -416px;
$sm-icon-instagram01-2x-offset-y: -54px;
$sm-icon-instagram01-2x-width: 42px;
$sm-icon-instagram01-2x-height: 40px;
$sm-icon-instagram01-2x-total-width: 460px;
$sm-icon-instagram01-2x-total-height: 370px;
$sm-icon-instagram01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-instagram01-2x: (416px, 54px, -416px, -54px, 42px, 40px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_instagram01@2x', );
$sm-icon-kakaostory01-2x-name: 'sm-icon_kakaostory01@2x';
$sm-icon-kakaostory01-2x-x: 416px;
$sm-icon-kakaostory01-2x-y: 106px;
$sm-icon-kakaostory01-2x-offset-x: -416px;
$sm-icon-kakaostory01-2x-offset-y: -106px;
$sm-icon-kakaostory01-2x-width: 42px;
$sm-icon-kakaostory01-2x-height: 40px;
$sm-icon-kakaostory01-2x-total-width: 460px;
$sm-icon-kakaostory01-2x-total-height: 370px;
$sm-icon-kakaostory01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-kakaostory01-2x: (416px, 106px, -416px, -106px, 42px, 40px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_kakaostory01@2x', );
$sm-icon-mbenz-2x-name: 'sm-icon_mbenz@2x';
$sm-icon-mbenz-2x-x: 246px;
$sm-icon-mbenz-2x-y: 296px;
$sm-icon-mbenz-2x-offset-x: -246px;
$sm-icon-mbenz-2x-offset-y: -296px;
$sm-icon-mbenz-2x-width: 62px;
$sm-icon-mbenz-2x-height: 62px;
$sm-icon-mbenz-2x-total-width: 460px;
$sm-icon-mbenz-2x-total-height: 370px;
$sm-icon-mbenz-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-mbenz-2x: (246px, 296px, -246px, -296px, 62px, 62px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_mbenz@2x', );
$sm-icon-twitter01-2x-name: 'sm-icon_twitter01@2x';
$sm-icon-twitter01-2x-x: 416px;
$sm-icon-twitter01-2x-y: 158px;
$sm-icon-twitter01-2x-offset-x: -416px;
$sm-icon-twitter01-2x-offset-y: -158px;
$sm-icon-twitter01-2x-width: 42px;
$sm-icon-twitter01-2x-height: 40px;
$sm-icon-twitter01-2x-total-width: 460px;
$sm-icon-twitter01-2x-total-height: 370px;
$sm-icon-twitter01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-icon-twitter01-2x: (416px, 158px, -416px, -158px, 42px, 40px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-icon_twitter01@2x', );
$sm-radio01-2x-name: 'sm-radio01@2x';
$sm-radio01-2x-x: 416px;
$sm-radio01-2x-y: 0px;
$sm-radio01-2x-offset-x: -416px;
$sm-radio01-2x-offset-y: 0px;
$sm-radio01-2x-width: 44px;
$sm-radio01-2x-height: 42px;
$sm-radio01-2x-total-width: 460px;
$sm-radio01-2x-total-height: 370px;
$sm-radio01-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-radio01-2x: (416px, 0px, -416px, 0px, 44px, 42px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-radio01@2x', );
$sm-radio01-selected-2x-name: 'sm-radio01_selected@2x';
$sm-radio01-selected-2x-x: 320px;
$sm-radio01-selected-2x-y: 296px;
$sm-radio01-selected-2x-offset-x: -320px;
$sm-radio01-selected-2x-offset-y: -296px;
$sm-radio01-selected-2x-width: 44px;
$sm-radio01-selected-2x-height: 42px;
$sm-radio01-selected-2x-total-width: 460px;
$sm-radio01-selected-2x-total-height: 370px;
$sm-radio01-selected-2x-image: '/assets/images/mobile/sprites_mobile@2x.png';
$sm-radio01-selected-2x: (320px, 296px, -320px, -296px, 44px, 42px, 460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', 'sm-radio01_selected@2x', );
$spritesheet-width: 230px;
$spritesheet-height: 185px;
$spritesheet-image: '/assets/images/mobile/sprites_mobile.png';
$spritesheet-sprites: ($sm-benz-logo-header, $sm-btn-close01, $sm-btn-down01, $sm-btn-down02, $sm-btn-fb01, $sm-btn-fb01-selected, $sm-btn-insta01, $sm-btn-insta01-selected, $sm-btn-ks01, $sm-btn-ks01-selected, $sm-btn-play01, $sm-btn-top01, $sm-btn-tw01, $sm-btn-tw01-selected, $sm-icon-arrow01, $sm-icon-arrow02, $sm-icon-arrow03, $sm-icon-arrow04, $sm-icon-facebook01, $sm-icon-instagram01, $sm-icon-kakaostory01, $sm-icon-mbenz, $sm-icon-twitter01, $sm-radio01, $sm-radio01-selected, );
$spritesheet: (230px, 185px, '/assets/images/mobile/sprites_mobile.png', $spritesheet-sprites, );
$retina-spritesheet-width: 460px;
$retina-spritesheet-height: 370px;
$retina-spritesheet-image: '/assets/images/mobile/sprites_mobile@2x.png';
$retina-spritesheet-sprites: ($sm-benz-logo-header-2x, $sm-btn-close01-2x, $sm-btn-down01-2x, $sm-btn-down02-2x, $sm-btn-fb01-2x, $sm-btn-fb01-selected-2x, $sm-btn-insta01-2x, $sm-btn-insta01-selected-2x, $sm-btn-ks01-2x, $sm-btn-ks01-selected-2x, $sm-btn-play01-2x, $sm-btn-top01-2x, $sm-btn-tw01-2x, $sm-btn-tw01-selected-2x, $sm-icon-arrow01-2x, $sm-icon-arrow02-2x, $sm-icon-arrow03-2x, $sm-icon-arrow04-2x, $sm-icon-facebook01-2x, $sm-icon-instagram01-2x, $sm-icon-kakaostory01-2x, $sm-icon-mbenz-2x, $sm-icon-twitter01-2x, $sm-radio01-2x, $sm-radio01-selected-2x, );
$retina-spritesheet: (460px, 370px, '/assets/images/mobile/sprites_mobile@2x.png', $retina-spritesheet-sprites, );

/*
These "retina group" variables are mappings for the naming and pairing of normal and retina sprites.

The list formatted variables are intended for mixins like `retina-sprite` and `retina-sprites`.
*/
$sm-benz-logo-header-group-name: 'sm-benz_logo_header';
$sm-benz-logo-header-group: ('sm-benz_logo_header', $sm-benz-logo-header, $sm-benz-logo-header-2x, );
$sm-btn-close01-group-name: 'sm-btn_close01';
$sm-btn-close01-group: ('sm-btn_close01', $sm-btn-close01, $sm-btn-close01-2x, );
$sm-btn-down01-group-name: 'sm-btn_down01';
$sm-btn-down01-group: ('sm-btn_down01', $sm-btn-down01, $sm-btn-down01-2x, );
$sm-btn-down02-group-name: 'sm-btn_down02';
$sm-btn-down02-group: ('sm-btn_down02', $sm-btn-down02, $sm-btn-down02-2x, );
$sm-btn-fb01-group-name: 'sm-btn_fb01';
$sm-btn-fb01-group: ('sm-btn_fb01', $sm-btn-fb01, $sm-btn-fb01-2x, );
$sm-btn-fb01-selected-group-name: 'sm-btn_fb01_selected';
$sm-btn-fb01-selected-group: ('sm-btn_fb01_selected', $sm-btn-fb01-selected, $sm-btn-fb01-selected-2x, );
$sm-btn-insta01-group-name: 'sm-btn_insta01';
$sm-btn-insta01-group: ('sm-btn_insta01', $sm-btn-insta01, $sm-btn-insta01-2x, );
$sm-btn-insta01-selected-group-name: 'sm-btn_insta01_selected';
$sm-btn-insta01-selected-group: ('sm-btn_insta01_selected', $sm-btn-insta01-selected, $sm-btn-insta01-selected-2x, );
$sm-btn-ks01-group-name: 'sm-btn_ks01';
$sm-btn-ks01-group: ('sm-btn_ks01', $sm-btn-ks01, $sm-btn-ks01-2x, );
$sm-btn-ks01-selected-group-name: 'sm-btn_ks01_selected';
$sm-btn-ks01-selected-group: ('sm-btn_ks01_selected', $sm-btn-ks01-selected, $sm-btn-ks01-selected-2x, );
$sm-btn-play01-group-name: 'sm-btn_play01';
$sm-btn-play01-group: ('sm-btn_play01', $sm-btn-play01, $sm-btn-play01-2x, );
$sm-btn-top01-group-name: 'sm-btn_top01';
$sm-btn-top01-group: ('sm-btn_top01', $sm-btn-top01, $sm-btn-top01-2x, );
$sm-btn-tw01-group-name: 'sm-btn_tw01';
$sm-btn-tw01-group: ('sm-btn_tw01', $sm-btn-tw01, $sm-btn-tw01-2x, );
$sm-btn-tw01-selected-group-name: 'sm-btn_tw01_selected';
$sm-btn-tw01-selected-group: ('sm-btn_tw01_selected', $sm-btn-tw01-selected, $sm-btn-tw01-selected-2x, );
$sm-icon-arrow01-group-name: 'sm-icon_arrow01';
$sm-icon-arrow01-group: ('sm-icon_arrow01', $sm-icon-arrow01, $sm-icon-arrow01-2x, );
$sm-icon-arrow02-group-name: 'sm-icon_arrow02';
$sm-icon-arrow02-group: ('sm-icon_arrow02', $sm-icon-arrow02, $sm-icon-arrow02-2x, );
$sm-icon-arrow03-group-name: 'sm-icon_arrow03';
$sm-icon-arrow03-group: ('sm-icon_arrow03', $sm-icon-arrow03, $sm-icon-arrow03-2x, );
$sm-icon-arrow04-group-name: 'sm-icon_arrow04';
$sm-icon-arrow04-group: ('sm-icon_arrow04', $sm-icon-arrow04, $sm-icon-arrow04-2x, );
$sm-icon-facebook01-group-name: 'sm-icon_facebook01';
$sm-icon-facebook01-group: ('sm-icon_facebook01', $sm-icon-facebook01, $sm-icon-facebook01-2x, );
$sm-icon-instagram01-group-name: 'sm-icon_instagram01';
$sm-icon-instagram01-group: ('sm-icon_instagram01', $sm-icon-instagram01, $sm-icon-instagram01-2x, );
$sm-icon-kakaostory01-group-name: 'sm-icon_kakaostory01';
$sm-icon-kakaostory01-group: ('sm-icon_kakaostory01', $sm-icon-kakaostory01, $sm-icon-kakaostory01-2x, );
$sm-icon-mbenz-group-name: 'sm-icon_mbenz';
$sm-icon-mbenz-group: ('sm-icon_mbenz', $sm-icon-mbenz, $sm-icon-mbenz-2x, );
$sm-icon-twitter01-group-name: 'sm-icon_twitter01';
$sm-icon-twitter01-group: ('sm-icon_twitter01', $sm-icon-twitter01, $sm-icon-twitter01-2x, );
$sm-radio01-group-name: 'sm-radio01';
$sm-radio01-group: ('sm-radio01', $sm-radio01, $sm-radio01-2x, );
$sm-radio01-selected-group-name: 'sm-radio01_selected';
$sm-radio01-selected-group: ('sm-radio01_selected', $sm-radio01-selected, $sm-radio01-selected-2x, );
$retina-groups: ($sm-benz-logo-header-group, $sm-btn-close01-group, $sm-btn-down01-group, $sm-btn-down02-group, $sm-btn-fb01-group, $sm-btn-fb01-selected-group, $sm-btn-insta01-group, $sm-btn-insta01-selected-group, $sm-btn-ks01-group, $sm-btn-ks01-selected-group, $sm-btn-play01-group, $sm-btn-top01-group, $sm-btn-tw01-group, $sm-btn-tw01-selected-group, $sm-icon-arrow01-group, $sm-icon-arrow02-group, $sm-icon-arrow03-group, $sm-icon-arrow04-group, $sm-icon-facebook01-group, $sm-icon-instagram01-group, $sm-icon-kakaostory01-group, $sm-icon-mbenz-group, $sm-icon-twitter01-group, $sm-radio01-group, $sm-radio01-selected-group, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `retina-sprite` mixin sets up rules and a media query for a sprite/retina sprite.
  It should be used with a "retina group" variable.

The media query is from CSS Tricks: https://css-tricks.com/snippets/css/retina-display-media-query/

$icon-home-group: ('icon-home', $icon-home, $icon-home-2x, );

.icon-home {
  @include retina-sprite($icon-home-group);
}
*/
@mixin sprite-background-size($sprite) {
  $sprite-total-width: nth($sprite, 7);
  $sprite-total-height: nth($sprite, 8);
  background-size: $sprite-total-width $sprite-total-height;
}

@mixin retina-sprite($retina-group) {
  $normal-sprite: nth($retina-group, 2);
  $retina-sprite: nth($retina-group, 3);
  @include sprite($normal-sprite);

  @media (-webkit-min-device-pixel-ratio: 2),
         (min-resolution: 192dpi) {
    @include sprite-image($retina-sprite);
    @include sprite-background-size($normal-sprite);
  }
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}

/*
The `retina-sprites` mixin generates a CSS rule and media query for retina groups
  This yields the same output as CSS retina template but can be overridden in SCSS

@include retina-sprites($retina-groups);
*/
@mixin retina-sprites($retina-groups) {
  @each $retina-group in $retina-groups {
    $sprite-name: nth($retina-group, 1);
    .#{$sprite-name} {
      @include retina-sprite($retina-group);
    }
  }
}
