/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sd-benz-logo-header-name: 'sd-benz_logo_header';
$sd-benz-logo-header-x: 0px;
$sd-benz-logo-header-y: 0px;
$sd-benz-logo-header-offset-x: 0px;
$sd-benz-logo-header-offset-y: 0px;
$sd-benz-logo-header-width: 297px;
$sd-benz-logo-header-height: 82px;
$sd-benz-logo-header-total-width: 297px;
$sd-benz-logo-header-total-height: 275px;
$sd-benz-logo-header-image: '/assets/images/desktop/sprites_desktop.png';
$sd-benz-logo-header: (0px, 0px, 0px, 0px, 297px, 82px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-benz_logo_header', );
$sd-btn-close01-name: 'sd-btn_close01';
$sd-btn-close01-x: 0px;
$sd-btn-close01-y: 235px;
$sd-btn-close01-offset-x: 0px;
$sd-btn-close01-offset-y: -235px;
$sd-btn-close01-width: 40px;
$sd-btn-close01-height: 40px;
$sd-btn-close01-total-width: 297px;
$sd-btn-close01-total-height: 275px;
$sd-btn-close01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-close01: (0px, 235px, 0px, -235px, 40px, 40px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_close01', );
$sd-btn-fb01-name: 'sd-btn_fb01';
$sd-btn-fb01-x: 92px;
$sd-btn-fb01-y: 88px;
$sd-btn-fb01-offset-x: -92px;
$sd-btn-fb01-offset-y: -88px;
$sd-btn-fb01-width: 48px;
$sd-btn-fb01-height: 48px;
$sd-btn-fb01-total-width: 297px;
$sd-btn-fb01-total-height: 275px;
$sd-btn-fb01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-fb01: (92px, 88px, -92px, -88px, 48px, 48px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_fb01', );
$sd-btn-fb01-selected-name: 'sd-btn_fb01_selected';
$sd-btn-fb01-selected-x: 146px;
$sd-btn-fb01-selected-y: 88px;
$sd-btn-fb01-selected-offset-x: -146px;
$sd-btn-fb01-selected-offset-y: -88px;
$sd-btn-fb01-selected-width: 48px;
$sd-btn-fb01-selected-height: 48px;
$sd-btn-fb01-selected-total-width: 297px;
$sd-btn-fb01-selected-total-height: 275px;
$sd-btn-fb01-selected-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-fb01-selected: (146px, 88px, -146px, -88px, 48px, 48px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_fb01_selected', );
$sd-btn-insta01-name: 'sd-btn_insta01';
$sd-btn-insta01-x: 200px;
$sd-btn-insta01-y: 88px;
$sd-btn-insta01-offset-x: -200px;
$sd-btn-insta01-offset-y: -88px;
$sd-btn-insta01-width: 48px;
$sd-btn-insta01-height: 48px;
$sd-btn-insta01-total-width: 297px;
$sd-btn-insta01-total-height: 275px;
$sd-btn-insta01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-insta01: (200px, 88px, -200px, -88px, 48px, 48px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_insta01', );
$sd-btn-insta01-selected-name: 'sd-btn_insta01_selected';
$sd-btn-insta01-selected-x: 0px;
$sd-btn-insta01-selected-y: 181px;
$sd-btn-insta01-selected-offset-x: 0px;
$sd-btn-insta01-selected-offset-y: -181px;
$sd-btn-insta01-selected-width: 48px;
$sd-btn-insta01-selected-height: 48px;
$sd-btn-insta01-selected-total-width: 297px;
$sd-btn-insta01-selected-total-height: 275px;
$sd-btn-insta01-selected-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-insta01-selected: (0px, 181px, 0px, -181px, 48px, 48px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_insta01_selected', );
$sd-btn-ks01-name: 'sd-btn_ks01';
$sd-btn-ks01-x: 54px;
$sd-btn-ks01-y: 181px;
$sd-btn-ks01-offset-x: -54px;
$sd-btn-ks01-offset-y: -181px;
$sd-btn-ks01-width: 48px;
$sd-btn-ks01-height: 48px;
$sd-btn-ks01-total-width: 297px;
$sd-btn-ks01-total-height: 275px;
$sd-btn-ks01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-ks01: (54px, 181px, -54px, -181px, 48px, 48px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_ks01', );
$sd-btn-ks01-selected-name: 'sd-btn_ks01_selected';
$sd-btn-ks01-selected-x: 108px;
$sd-btn-ks01-selected-y: 181px;
$sd-btn-ks01-selected-offset-x: -108px;
$sd-btn-ks01-selected-offset-y: -181px;
$sd-btn-ks01-selected-width: 48px;
$sd-btn-ks01-selected-height: 48px;
$sd-btn-ks01-selected-total-width: 297px;
$sd-btn-ks01-selected-total-height: 275px;
$sd-btn-ks01-selected-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-ks01-selected: (108px, 181px, -108px, -181px, 48px, 48px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_ks01_selected', );
$sd-btn-play01-name: 'sd-btn_play01';
$sd-btn-play01-x: 0px;
$sd-btn-play01-y: 88px;
$sd-btn-play01-offset-x: 0px;
$sd-btn-play01-offset-y: -88px;
$sd-btn-play01-width: 86px;
$sd-btn-play01-height: 87px;
$sd-btn-play01-total-width: 297px;
$sd-btn-play01-total-height: 275px;
$sd-btn-play01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-play01: (0px, 88px, 0px, -88px, 86px, 87px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_play01', );
$sd-btn-top01-name: 'sd-btn_top01';
$sd-btn-top01-x: 270px;
$sd-btn-top01-y: 208px;
$sd-btn-top01-offset-x: -270px;
$sd-btn-top01-offset-y: -208px;
$sd-btn-top01-width: 18px;
$sd-btn-top01-height: 18px;
$sd-btn-top01-total-width: 297px;
$sd-btn-top01-total-height: 275px;
$sd-btn-top01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-top01: (270px, 208px, -270px, -208px, 18px, 18px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_top01', );
$sd-btn-tw01-name: 'sd-btn_tw01';
$sd-btn-tw01-x: 216px;
$sd-btn-tw01-y: 181px;
$sd-btn-tw01-offset-x: -216px;
$sd-btn-tw01-offset-y: -181px;
$sd-btn-tw01-width: 48px;
$sd-btn-tw01-height: 48px;
$sd-btn-tw01-total-width: 297px;
$sd-btn-tw01-total-height: 275px;
$sd-btn-tw01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-tw01: (216px, 181px, -216px, -181px, 48px, 48px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_tw01', );
$sd-btn-tw01-selected-name: 'sd-btn_tw01_selected';
$sd-btn-tw01-selected-x: 162px;
$sd-btn-tw01-selected-y: 181px;
$sd-btn-tw01-selected-offset-x: -162px;
$sd-btn-tw01-selected-offset-y: -181px;
$sd-btn-tw01-selected-width: 48px;
$sd-btn-tw01-selected-height: 48px;
$sd-btn-tw01-selected-total-width: 297px;
$sd-btn-tw01-selected-total-height: 275px;
$sd-btn-tw01-selected-image: '/assets/images/desktop/sprites_desktop.png';
$sd-btn-tw01-selected: (162px, 181px, -162px, -181px, 48px, 48px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-btn_tw01_selected', );
$sd-icon-arrow01-name: 'sd-icon_arrow01';
$sd-icon-arrow01-x: 114px;
$sd-icon-arrow01-y: 235px;
$sd-icon-arrow01-offset-x: -114px;
$sd-icon-arrow01-offset-y: -235px;
$sd-icon-arrow01-width: 12px;
$sd-icon-arrow01-height: 8px;
$sd-icon-arrow01-total-width: 297px;
$sd-icon-arrow01-total-height: 275px;
$sd-icon-arrow01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-arrow01: (114px, 235px, -114px, -235px, 12px, 8px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_arrow01', );
$sd-icon-arrow02-name: 'sd-icon_arrow02';
$sd-icon-arrow02-x: 90px;
$sd-icon-arrow02-y: 235px;
$sd-icon-arrow02-offset-x: -90px;
$sd-icon-arrow02-offset-y: -235px;
$sd-icon-arrow02-width: 18px;
$sd-icon-arrow02-height: 9px;
$sd-icon-arrow02-total-width: 297px;
$sd-icon-arrow02-total-height: 275px;
$sd-icon-arrow02-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-arrow02: (90px, 235px, -90px, -235px, 18px, 9px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_arrow02', );
$sd-icon-arrow03-name: 'sd-icon_arrow03';
$sd-icon-arrow03-x: 46px;
$sd-icon-arrow03-y: 235px;
$sd-icon-arrow03-offset-x: -46px;
$sd-icon-arrow03-offset-y: -235px;
$sd-icon-arrow03-width: 38px;
$sd-icon-arrow03-height: 38px;
$sd-icon-arrow03-total-width: 297px;
$sd-icon-arrow03-total-height: 275px;
$sd-icon-arrow03-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-arrow03: (46px, 235px, -46px, -235px, 38px, 38px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_arrow03', );
$sd-icon-arrow04-name: 'sd-icon_arrow04';
$sd-icon-arrow04-x: 270px;
$sd-icon-arrow04-y: 181px;
$sd-icon-arrow04-offset-x: -270px;
$sd-icon-arrow04-offset-y: -181px;
$sd-icon-arrow04-width: 24px;
$sd-icon-arrow04-height: 21px;
$sd-icon-arrow04-total-width: 297px;
$sd-icon-arrow04-total-height: 275px;
$sd-icon-arrow04-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-arrow04: (270px, 181px, -270px, -181px, 24px, 21px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_arrow04', );
$sd-icon-facebook01-name: 'sd-icon_facebook01';
$sd-icon-facebook01-x: 194px;
$sd-icon-facebook01-y: 142px;
$sd-icon-facebook01-offset-x: -194px;
$sd-icon-facebook01-offset-y: -142px;
$sd-icon-facebook01-width: 26px;
$sd-icon-facebook01-height: 26px;
$sd-icon-facebook01-total-width: 297px;
$sd-icon-facebook01-total-height: 275px;
$sd-icon-facebook01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-facebook01: (194px, 142px, -194px, -142px, 26px, 26px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_facebook01', );
$sd-icon-instagram01-name: 'sd-icon_instagram01';
$sd-icon-instagram01-x: 226px;
$sd-icon-instagram01-y: 142px;
$sd-icon-instagram01-offset-x: -226px;
$sd-icon-instagram01-offset-y: -142px;
$sd-icon-instagram01-width: 26px;
$sd-icon-instagram01-height: 26px;
$sd-icon-instagram01-total-width: 297px;
$sd-icon-instagram01-total-height: 275px;
$sd-icon-instagram01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-instagram01: (226px, 142px, -226px, -142px, 26px, 26px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_instagram01', );
$sd-icon-kakaostory01-name: 'sd-icon_kakaostory01';
$sd-icon-kakaostory01-x: 258px;
$sd-icon-kakaostory01-y: 142px;
$sd-icon-kakaostory01-offset-x: -258px;
$sd-icon-kakaostory01-offset-y: -142px;
$sd-icon-kakaostory01-width: 26px;
$sd-icon-kakaostory01-height: 26px;
$sd-icon-kakaostory01-total-width: 297px;
$sd-icon-kakaostory01-total-height: 275px;
$sd-icon-kakaostory01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-kakaostory01: (258px, 142px, -258px, -142px, 26px, 26px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_kakaostory01', );
$sd-icon-mbenz-name: 'sd-icon_mbenz';
$sd-icon-mbenz-x: 254px;
$sd-icon-mbenz-y: 88px;
$sd-icon-mbenz-offset-x: -254px;
$sd-icon-mbenz-offset-y: -88px;
$sd-icon-mbenz-width: 40px;
$sd-icon-mbenz-height: 40px;
$sd-icon-mbenz-total-width: 297px;
$sd-icon-mbenz-total-height: 275px;
$sd-icon-mbenz-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-mbenz: (254px, 88px, -254px, -88px, 40px, 40px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_mbenz', );
$sd-icon-twitter01-name: 'sd-icon_twitter01';
$sd-icon-twitter01-x: 162px;
$sd-icon-twitter01-y: 142px;
$sd-icon-twitter01-offset-x: -162px;
$sd-icon-twitter01-offset-y: -142px;
$sd-icon-twitter01-width: 26px;
$sd-icon-twitter01-height: 26px;
$sd-icon-twitter01-total-width: 297px;
$sd-icon-twitter01-total-height: 275px;
$sd-icon-twitter01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-icon-twitter01: (162px, 142px, -162px, -142px, 26px, 26px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-icon_twitter01', );
$sd-radio01-name: 'sd-radio01';
$sd-radio01-x: 127px;
$sd-radio01-y: 142px;
$sd-radio01-offset-x: -127px;
$sd-radio01-offset-y: -142px;
$sd-radio01-width: 29px;
$sd-radio01-height: 26px;
$sd-radio01-total-width: 297px;
$sd-radio01-total-height: 275px;
$sd-radio01-image: '/assets/images/desktop/sprites_desktop.png';
$sd-radio01: (127px, 142px, -127px, -142px, 29px, 26px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-radio01', );
$sd-radio01-selected-name: 'sd-radio01_selected';
$sd-radio01-selected-x: 92px;
$sd-radio01-selected-y: 142px;
$sd-radio01-selected-offset-x: -92px;
$sd-radio01-selected-offset-y: -142px;
$sd-radio01-selected-width: 29px;
$sd-radio01-selected-height: 26px;
$sd-radio01-selected-total-width: 297px;
$sd-radio01-selected-total-height: 275px;
$sd-radio01-selected-image: '/assets/images/desktop/sprites_desktop.png';
$sd-radio01-selected: (92px, 142px, -92px, -142px, 29px, 26px, 297px, 275px, '/assets/images/desktop/sprites_desktop.png', 'sd-radio01_selected', );
$spritesheet-width: 297px;
$spritesheet-height: 275px;
$spritesheet-image: '/assets/images/desktop/sprites_desktop.png';
$spritesheet-sprites: ($sd-benz-logo-header, $sd-btn-close01, $sd-btn-fb01, $sd-btn-fb01-selected, $sd-btn-insta01, $sd-btn-insta01-selected, $sd-btn-ks01, $sd-btn-ks01-selected, $sd-btn-play01, $sd-btn-top01, $sd-btn-tw01, $sd-btn-tw01-selected, $sd-icon-arrow01, $sd-icon-arrow02, $sd-icon-arrow03, $sd-icon-arrow04, $sd-icon-facebook01, $sd-icon-instagram01, $sd-icon-kakaostory01, $sd-icon-mbenz, $sd-icon-twitter01, $sd-radio01, $sd-radio01-selected, );
$spritesheet: (297px, 275px, '/assets/images/desktop/sprites_desktop.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
